{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

    {% block title %}
        Reinicio de contraseña
    {% endblock %}

    {% block id 'check-reset-email' %}

{% block fos_user_content %}
    <div class="jumbotron">
        <p>{{ 'resetting.check_email'|trans({'%email%': email}) }}</p>
    </div>
{% endblock fos_user_content %}
