{% trans_default_domain 'FOSUserBundle' %}

<div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
        <h1 class="form-title"><span>></span> Reinicio de contraseña</h1>

        <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" role="form" class="form-horizontal">

            {% if invalid_username is defined %}
                <div class="form-group has-error">

                    <label for="username" class="control-label col-sm-12 control-label-left">{{ 'resetting.request.username'|trans }}</label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control" id="username" placeholder="Introduce tu usuario" name="username" required="required">
                        <span class="help-block">{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</span>
                    </div>
                </div>

            {% else %}
                <div class="form-group">
                    <label for="username" class="control-label col-sm-12 control-label-left">{{ 'resetting.request.username'|trans }}</label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control" id="username" placeholder="Introduce tu usuario" name="username" required="required">
                    </div>
                </div>

            {% endif %}

            <div class="form-actions">
                <input type="submit" role="button" class="btn btn-primary navbar-btn" value="{{ 'resetting.request.submit'|trans }}" />
            </div>
        </form>
    </div>
</div>



