{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}
    Reinicio de contraseña
{% endblock title %}

{% block id 'reset-request' %}

{% block fos_user_content %}
{% include "FOSUserBundle:Resetting:request_content.html.twig" %}
{% endblock fos_user_content %}
