{% trans_default_domain 'FOSUserBundle' %}

<div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <h1 class="form-title"><span>></span> Reinicio de contraseña</h1>

        <form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" role="form" class="form-horizontal">

            {{ form_errors(form) }}

            <fieldset>
                <legend>Introduce tu nueva contraseña</legend>

                {% if form.plainPassword.first.vars.errors | length > 0 %}
                    <div class="form-group has-error">
                        {{ form_label(form.plainPassword.first) }}
                        <div class="col-xs-12 col-sm-7">
                            {{ form_widget(form.plainPassword.first, {'attr': {'placeholder' : "Escribe tu nueva contraseña"} }) }}
                            <span class="help-block">{{ form_errors(form.plainPassword.first) }}</span>
                        </div>
                    </div>

                {% else %}
                    <div class="form-group">
                        {{ form_label(form.plainPassword.first) }}
                        <div class="col-xs-12 col-sm-7">
                            {{ form_widget(form.plainPassword.first, {'attr': {'placeholder' : "Escribe tu nueva contraseña"} }) }}
                        </div>
                    </div>

                {% endif %}

                {% if form.plainPassword.second.vars.errors | length > 0 %}
                    <div class="form-group has-error">

                        {{ form_label(form.plainPassword.second) }}
                        <div class="col-sm-12">
                            {{ form_widget(form.plainPassword.second, {'attr': {'placeholder' : "Vuelve a escribir tu nueva contraseña"} }) }}
                            <span class="help-block">{{ form_errors(form.plainPassword.second) }}</span>
                        </div>
                    </div>

                {% else %}
                    <div class="form-group">
                        {{ form_label(form.plainPassword.second) }}
                        <div class="col-xs-12 col-sm-7">
                            {{ form_widget(form.plainPassword.second, {'attr': {'placeholder' : "Vuelve a escribir tu nueva contraseña"} }) }}
                        </div>
                    </div>

                {% endif %}

            </fieldset>

            {{ form_rest(form) }}

            <div>
                <input type="submit" class="btn btn-primary" value="{{ 'resetting.reset.submit'|trans }}" />
            </div>
        </form>
    </div>
</div>
