{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}
    Formulario de reinicio de contraseña
{% endblock title %}

{% block id 'reset-form' %}

{% block fos_user_content %}
{% include "FOSUserBundle:Resetting:reset_content.html.twig" %}
{% endblock fos_user_content %}
