{% extends '::frontend.html.twig'%}

{% block title %}
    Error: No se ha encontrado la página que buscabas
{% endblock %}

{% block id 'notFound' %}

{% block content %}

    <div class="jumbotron">
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <img class="img-responsive" src="{{ asset('bundles/forum/images/error/error_deer.png') }}" />
            </div>
            <div class="col-xs-12 col-md-8">
                <h1>Oops! {{ exception.message }}</h1>
                <h2> El servidor ha retornado: "{{ status_code }} {{ status_text }}".</h2>

                <div>
                    Algo ha fallado. Si crees que es un error de la aplicación ponte en contacto con los administradores de la web para informar del mismo y de que estabas haciendo cuando el error ocurrió.

                    Sentimos las molestias
                </div>
            </div>
        </div>
    </div>

{% endblock %}
