/****************************
** POST LESS-CSS
****************************/

// Selectores para BBCODES

.show-spoiler {
  display: block;
}

.underlined-text {
  text-decoration: underline;
}

.bold-text {
  font-weight: bold;
}

.italics-text {
  font-style: italic;
}
