<div class="row selector">

    <div class="criterion col-xs-12 col-sm-9 col-md-9 col-lg-9 hidden-xs">
        <ul class="nav nav-pills">
            {% if (forumTopicsType == 'TopicDeal') or (forumTopicsType == 'TopicVoucher') or (forumTopicsType == 'TopicFree')  %}<li {% if criterionSlug == 'mas-votados' %}class="active"{% endif %}><a href="{{ path('forum_show_category_topics_ordered_by', {'forumSlug': forumSlug, 'criterionSlug': 'mas-votados', 'categorySlug': categorySlug } ) }}">{{ 'Más votados' | upper }}</a></li>{% endif %}
            <li {% if criterionSlug == 'mas-nuevos' %}class="active"{% endif %}><a href="{{ path('forum_show_category_topics_ordered_by', {'forumSlug': forumSlug, 'criterionSlug': 'mas-nuevos', 'categorySlug': categorySlug } ) }}">{{ 'Nuevos' | upper }}</a></li>
            <li {% if criterionSlug == 'recientemente-comentados' %}class="active"{% endif %}><a href="{{ path('forum_show_category_topics_ordered_by', {'forumSlug': forumSlug, 'criterionSlug': 'recientemente-comentados', 'categorySlug': categorySlug } ) }}">{{ 'Últimos comentados' | upper }}</a></li>
        </ul>
    </div>

    <div class="dropdown categories col-xs-3 col-sm-3 col-md-3 col-lg-3 hidden-xs text-right">
        <button class="btn btn-default dropdown-toggle" type="button" id="categoriesDropDown" data-toggle="dropdown" aria-expanded="true">
            {{ categorySlug | upper | removeDashes }}
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="categoriesDropDown">
            <li role="presentation">
                <a role="menuitem" tabindex="-1" href="{{ path('forum_show_category_topics_ordered_by', {'forumSlug': forumSlug, 'criterionSlug': criterionSlug, 'categorySlug': 'todas' } ) }}">Todas</a>
            </li>
            {% for category in categories %}
                <li>
                    <a role="menuitem" tabindex="-1" href="{{ path('forum_show_category_topics_ordered_by', {'forumSlug': forumSlug, 'criterionSlug': criterionSlug, 'categorySlug': category.slug } ) }}">{{ category.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>

    <nav class="cat-crit-collapsed col-xs-12 visible-xs">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" id="criterionDropDownCollapsed" class="navbar-toggle collapsed pull-left" data-toggle="collapse" data-target="#navbar-collapse-criterion">
                    {% if criterionSlug == 'mas-votados' %}
                        {{ 'Más votados' | upper }}

                    {% elseif criterionSlug == 'mas-nuevos' %}
                        {{ 'Nuevos' | upper }}

                    {% elseif criterionSlug == 'recientemente-comentados' %}
                        {{ 'Últimos comentados' | upper }}

                    {% else %}
                        {{ 'No existe' | upper }}

                    {% endif %}
                    <span class="caret"></span>
                </button>

                <button type="button" id="categoriesDropDownCollapsed" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-category">
                    {{ categorySlug | upper | removeDashes }}
                    <span class="caret"></span>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-collapse-criterion">
                <ul class="nav navbar-nav" role="menu" aria-labelledby="criterionDropDownCollapsed">
                    {% if (forumTopicsType == 'TopicDeal') or (forumTopicsType == 'TopicVoucher') or (forumTopicsType == 'TopicFree')  %}
                        <li {% if criterionSlug == 'mas-votados' %}class="active"{% endif %}>
                            <a href="{{ path('forum_show_category_topics_ordered_by', {'forumSlug': forumSlug, 'criterionSlug': 'mas-votados', 'categorySlug': categorySlug } ) }}">Más votados </a>
                        </li>
                    {% endif %}

                    <li {% if criterionSlug == 'mas-nuevos' %}class="active"{% endif %}>
                        <a href="{{ path('forum_show_category_topics_ordered_by', {'forumSlug': forumSlug, 'criterionSlug': 'mas-nuevos', 'categorySlug': categorySlug } ) }}">Nuevos</a>
                    </li>

                    <li {% if criterionSlug == 'recientemente-comentados' %}class="active"{% endif %}>
                        <a href="{{ path('forum_show_category_topics_ordered_by', {'forumSlug': forumSlug, 'criterionSlug': 'recientemente-comentados', 'categorySlug': categorySlug } ) }}">Últimos comentados</a>
                    </li>

                </ul>
            </div><!-- /.navbar-collapse -->


            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-collapse-category">
                <ul class="nav navbar-nav" role="menu" aria-labelledby="categoriesDropDownCollapsed">
                    <li {% if categorySlug == 'todas' %}class="active"{% endif %} role="presentation"><a role="menuitem" tabindex="-1" href="{{ path('forum_show_category_topics_ordered_by', {'forumSlug': forumSlug, 'criterionSlug': criterionSlug, 'categorySlug': 'todas' } ) }}">Todas</a></li>
                    {% for category in categories %}
                        <li {% if categorySlug == category.slug %}class="active"{% endif %}>
                            <a href="{{ path('forum_show_category_topics_ordered_by', {'forumSlug': forumSlug, 'criterionSlug': criterionSlug, 'categorySlug': category.slug } ) }}">{{ category.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>