{% if forumSlug == 'todos-los-foros' %}
    {% set forumSlug = 'Todos los foros' %}
{% endif %}

<div class="row selector">

    <div class="forum col-xs-12 col-sm-9 col-md-9 col-lg-9 hidden-xs">

        <button class="btn btn-default dropdown-toggle" type="button" id="forumDropDown" data-toggle="dropdown" aria-expanded="true">
            {{ forumSlug | upper | removeDashes }}
            <span class="caret"></span>
        </button>

        <ul class="dropdown-menu" role="menu" aria-labelledby="forumDropDown">
            <li role="presentation">
                {% if showingTopicsBy == 'shops' %}
                    <a role="menuitem" tabindex="-1" href="{{ path('forum_show_forum_topics_by_shop_page', {'forumSlug': 'todos-los-foros', 'shopSlug': shopSlug } )}}">Todos los foros</a>
                {% else %}
                    <a role="menuitem" tabindex="-1" href="{{path('forum_show_forum_topics_by_tag', {'forumSlug': 'todos-los-foros', 'tagSlug': tagSlug } )}}">Todos los foros</a>
                {% endif %}
            </li>

            {% if showingTopicsBy == 'shops' %}
                {% for forum in forums %}
                    <li>
                        <a role="menuitem" tabindex="-1" href="{{ path('forum_show_forum_topics_by_shop_page', {'forumSlug': forum.slug, 'shopSlug': shopSlug } ) }}">{{ forum.name }}</a>
                    </li>
                {% endfor %}

            {% else %}

                {% for forum in forums %}
                    <li>
                        <a role="menuitem" tabindex="-1" href="{{ path('forum_show_forum_topics_by_tag', {'forumSlug': forum.slug, 'tagSlug': tagSlug } ) }}">{{ forum.name }}</a>
                    </li>
                {% endfor %}

            {% endif %}

        </ul>
    </div>

    <nav class="cat-crit-collapsed col-xs-12 visible-xs">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" id="forumDropDownCollapsed" class="navbar-toggle collapsed pull-left" data-toggle="collapse" data-target="#navbar-collapse-forum">
                    {{ forumSlug | upper | removeDashes}}
                    <span class="caret"></span>
                </button>
            </div>


            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-collapse-forum">
                <ul class="nav navbar-nav" role="menu" aria-labelledby="forumDropDownCollapsed">
                    {% if showingTopicsBy == 'shops' %}
                        <li {% if forumSlug == 'Todos los foros' %}class="active"{% endif %} role="presentation"><a role="menuitem" tabindex="-1" href="{{ path('forum_show_forum_topics_by_shop_page', {'forumSlug': 'todos-los-foros', 'shopSlug': shopSlug } )}}">Todos los foros</a></li>
                    {% else %}
                        <li {% if forumSlug == 'Todos los foros' %}class="active"{% endif %} role="presentation"><a role="menuitem" tabindex="-1" href="{{path('forum_show_forum_topics_by_tag', {'forumSlug': 'todos-los-foros', 'tagSlug': tagSlug } )}}">Todos los foros</a></li>
                    {% endif %}

                    {% if showingTopicsBy == 'shops' %}
                        {% for forum in forums %}
                            <li {% if forumSlug == forum.slug %}class="active"{% endif %} role="presentation"><a role="menuitem" tabindex="-1" href="{{ path('forum_show_forum_topics_by_shop_page', {'forumSlug': forum.slug, 'shopSlug': shopSlug } )}}">{{ forum.name }}</a></li>
                        {% endfor %}

                    {% else %}
                        {% for forum in forums %}
                            <li {% if forumSlug == forum.slug %}class="active"{% endif %} role="presentation"><a role="menuitem" tabindex="-1" href="{{ path('forum_show_forum_topics_by_tag', {'forumSlug': forum.slug, 'tagSlug': tagSlug } )}}">{{ forum.name }}</a></li>
                        {% endfor %}

                    {% endif %}

                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>