{% set lastPageNumber = (topic.lastPost.number | postPageNumber(maxPostsPerTopicPage)) %}

{% if alreadyVisited == true %}
    {% set lastPostNumberVisitedTopic = lastPostNumberVisitedTopics[topic.id] %}
    {% set numberOfUnreadPosts = topic.lastPost.number - lastPostNumberVisitedTopic %}
    {% if numberOfUnreadPosts > 0 %}
        {% set firstUnreadPost = lastPostNumberVisitedTopic+1 %}
    {% else %}
        {% set firstUnreadPost = lastPostNumberVisitedTopic %}
    {% endif %}
{% endif %}

<div id="topic-{{ topic.id }}" class="topic normal">

    <div class="row">

        <div class="col-xs-12 content">
            <h3><a href="{{ path('topic_show_topic', {'forumSlug': topic.forum.slug, 'topicSlug': topic.slug, 'topicId': topic.id } ) }}">{{ topic.title }} {% if topic.isClosed %}<span class="glyphicon glyphicon-lock"></span>{% endif %}</a></h3>

            <span class="message hidden-xs">{{ topic.firstPost.message | truncate(300, true) }} <a href="{{ path('topic_show_topic', {'forumSlug': topic.forum.slug , 'topicSlug': topic.slug, 'topicId': topic.id} ) }}">Seguir leyendo</a></span>
        </div>
    </div>


    <div class="row info">

        <div class="col-xs-7 col-sm-6 col-md-6 col-lg-6 creator-date vcenter">
            <a href="{{ path('user_profile', {'userName': topic.firstPost.poster.username } ) }}" data-toggle="tooltip" data-placement="top" title="Por: {{ topic.firstPost.poster.username }}" >
                <img src="{{ asset('uploads/images/avatar/' ~ topic.firstPost.poster.avatarName) | imagine_filter('avatar_topic_mini') }}" alt="Avatar de {{ topic.firstPost.poster.username }}" >
            </a>

            <span>
                {% if criterionSlug == 'mas-nuevos' or searchResult is defined %}
                    <span class="glyphicon glyphicon-pencil" title="Fecha de creación" ></span> {{ topic.firstPost.postingDate | postingDate }}
                {% else %}
                    <span class="glyphicon glyphicon-pencil" title="Fecha del último comentario" ></span> {{ topic.lastPost.postingDate | postingDate }}
                {% endif %}
            </span>
        </div>


        <div class="col-xs-5 col-sm-6 col-md-6 col-lg-6 comments-pages">

            <a class="hidden-xs" href="{{ path('topic_show_topic', {'forumSlug': topic.forum.slug , 'topicSlug': topic.slug, 'topicId': topic.id } ) }}#comentarios" title="Último comentario"><span class="glyphicon glyphicon-comment"></span> {{ (topic.lastPost.number - 1) | numberShortener }}</a>
            <a class="hidden-xs" href="{{ path('user_profile', {'userName': topic.lastPost.poster.username } ) }}" data-toggle="tooltip" data-placement="top" title="Último: {{ topic.lastPost.poster.username }}" >
                <img src="{{ asset('uploads/images/avatar/' ~ topic.lastPost.poster.avatarName) | imagine_filter('avatar_topic_mini') }}" alt="Avatar de {{ topic.lastPost.poster.username }}" >
            </a>
            {% if alreadyVisited == true %}
                <a title="Mensajes sin leer" href="{{ path('topic_show_topic_page', {'forumSlug': topic.forum.slug , 'topicSlug': topic.slug, 'topicId': topic.id, 'pageNumber': firstUnreadPost | postPageNumber(getGlobalVariables().getMaxPostsPerTopicPage) } ) }}#{{ firstUnreadPost | numberShortener }}">
                    <span class="glyphicon glyphicon-eye-close"></span> <span class="badge">{{ numberOfUnreadPosts | numberShortener() }}</span>
                </a>
            {% endif %}
            <a title="Páginas del tema" data-path="{{ path('topic_show_topic', {'forumSlug': topic.forum.slug , 'topicSlug': topic.slug, 'topicId': topic.id} ) }}" data-toggle="modal" data-target="#pageSelectorModal" data-last-page="{{ lastPageNumber }}" data-title="Selecciona una página del tema (Última: {{ lastPageNumber | numberShortener }})">
                <span class="glyphicon glyphicon-chevron-up"></span> {{ lastPageNumber }}
            </a>
        </div>
    </div>

</div>
