    <!-- Modal -->
    <div class="modal fade" id="pageSelectorModal" tabindex="-1" role="dialog" aria-labelledby="pageSelectorModalTitle" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="pageSelectorModalTitle">Elige la página</h4>
                </div>

                <form role="form" action="#" >

                    <div class="modal-body">

                        <div class="form-group">
                            <label for="page-number">Número de página</label>
                            <input type="number" class="form-control" min="1" {% if lastPageNumber is defined %} max="{{ lastPageNumber }}" {% endif %} id="page-number" placeholder="Introduce la página a la que quieres ir" name="_page-number" required="required">
                        </div>

                    </div>

                    <div class="modal-footer">
                        <button data-href="" id="pageSelectorAcceptButton" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> Ir</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancelar</button>
                    </div>

                </form>

            </div>
        </div>
    </div>