<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseDay">
          Top del día
        </a>
      </h4>
    </div>
    <div id="collapseDay" class="panel-collapse collapse in" data-path="{{ path('forum_ajax_top_topics_by_time') }}" data-forum="{{ forumSlug }}" data-category="{{ categorySlug }}">
      <div class="panel-body">

      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseWeek">
          Top de la semana
        </a>
      </h4>
    </div>
    <div id="collapseWeek" class="panel-collapse collapse">
      <div class="panel-body">

      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseMonth">
          Top del mes
        </a>
      </h4>
    </div>
    <div id="collapseMonth" class="panel-collapse collapse">
      <div class="panel-body">

      </div>
    </div>
  </div>
</div>