{% set lastPageNumber = (topic.lastPost.number | postPageNumber(maxPostsPerTopicPage)) %}

{% if alreadyVisited == true %}
    {% set lastPostNumberVisitedTopic = lastPostNumberVisitedTopics[topic.id] %}
    {% set numberOfUnreadPosts = topic.lastPost.number - lastPostNumberVisitedTopic %}
    {% if numberOfUnreadPosts > 0 %}
        {% set firstUnreadPost = lastPostNumberVisitedTopic+1 %}
    {% else %}
        {% set firstUnreadPost = lastPostNumberVisitedTopic %}
    {% endif %}
{% endif %}

{% set voteButtonState, expiredTopic = 'active', false %}

{% if topic.isExpired or ( date(topic.dateEnd) < date('today')) %}
    {% set voteButtonState, expiredTopic = 'disabled', true  %}
{% endif %}

{% if topic.isClosed %}
    {% set voteButtonState = 'disabled' %}
{% endif %}

{% if (voteButtonState == 'active') and (expiredTopic == false) and (is_granted('ROLE_USER') and (userVotedTopics is defined)) %}
    {% if topic.id in userVotedTopics %}
        {% set voteButtonState = 'disabled' %}
    {% endif %}
{% endif %}


<div id="topic-{{ topic.id }}" class="topic">

    <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-md-push-2 col-lg-push-2 content">
            <h3 {% if expiredTopic %}class="finished"{% endif %}><a href="{{ path('topic_show_topic', {'forumSlug': topic.forum.slug, 'topicSlug': topic.slug, 'topicId': topic.id } ) }}">{{ topic.title }} {% if topic.isClosed %}<span class="glyphicon glyphicon-lock"></span>{% endif %}</a></h3>

            <span class="message hidden-xs">{{ topic.firstPost.message | truncate(300, true) }} <a href="{{ path('topic_show_topic', {'forumSlug': topic.forum.slug , 'topicSlug': topic.slug, 'topicId': topic.id} ) }}">Seguir leyendo</a></span>

            <div class="row">
                <div class="voucher text-center col-xs-10 col-sm-4 col-md-4 col-lg-4 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">

                    {% if topic.voucher|length < 11 %}
                        <span class="fa fa-scissors"></span>
                        {{ topic.voucher | upper }}

                    {% else %}
                        <span class="fa fa-scissors short-voucher"></span>
                        <span title="click en las tijeras para mostrar el Cupón">
                        {{ topic.voucher | truncate(9) }}
                    </span>
                        <span class="hidden-content">
                        {{ topic.voucher }}
                    </span>
                    {% endif %}
                </div>

                <div class="discount text-center col-xs-10 col-sm-4 col-md-4 col-lg-4 col-xs-offset-1 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
                    <span class="glyphicon glyphicon-chevron-down"></span>
                    {% if topic.voucherDiscount == null %}
                        -
                    {% else %}
                        {{ topic.voucherDiscount }}

                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2 col-md-pull-9 col-lg-pull-9 image text-center">
            <a href="{{ topic.url }}" target="_blank">
                <img src="{{ asset('uploads/images/topic/' ~ topic.topicImageName) | imagine_filter('image_topic') }}" class="img-responsive img-thumbnail" alt="Imagen del tema">
                <span class="btn-block glyphicon glyphicon-link hidden-md hidden-lg"></span>
            </a>

        </div>

        <div class="col-xs-6 col-sm-6 col-md-1 col-lg-1  votes text-center">
            <span class="{% if topic.votes >= getGlobalVariables().getMinVotesToBePop %}popular-status{% elseif topic.votes < 0 %}not-popular-status{% else %}neither-status{% endif %}">{{ topic.votes }}</span>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1 voting-buttons">
            <div class="col-xs-6 col-md-12 col-lg-12">
                <a data-path="{{ path('topic_ajax_vote_topic') }}" data-topicid="{{ topic.id }}" data-topictype="{{ forumTopicsType }}" class="vote-button-positive btn btn-primary btn-block {{ voteButtonState }}" role="button" title="Voto positivo"><span class="glyphicon glyphicon-plus"></span></a>
            </div>

            <div class="col-xs-6 col-md-12 col-lg-12">
                <a data-path="{{ path('topic_ajax_vote_topic') }}" data-topicid="{{ topic.id }}"  data-topictype="{{ forumTopicsType }}" class="vote-button-negative btn btn-primary btn-block {{ voteButtonState }}" role="button" title="Voto negativo"><span class="glyphicon glyphicon-minus"></span></a>
            </div>
        </div>
    </div>


    <div class="row info">

        <div class="col-md-2 link hidden-xs hidden-sm">
            <a href="{{ topic.url }}" target="_blank" class="btn btn-block" role="button"><span class="glyphicon glyphicon-link"></span> Link Oferta</a>
        </div>

        <div class="col-xs-7 col-sm-6 col-md-5 col-lg-6 creator-date vcenter">
            <a href="{{ path('user_profile', {'userName': topic.firstPost.poster.username } ) }}" data-toggle="tooltip" data-placement="top" title="Por: {{ topic.firstPost.poster.username }}" >
                <img src="{{ asset('uploads/images/avatar/' ~ topic.firstPost.poster.avatarName) | imagine_filter('avatar_topic_mini') }}" alt="Avatar de {{ topic.firstPost.poster.username }}" >
            </a>

            <span>
                {% if criterionSlug == 'mas-nuevos' or searchResult is defined %}
                    <span class="glyphicon glyphicon-pencil" title="Fecha de creación" ></span> {{ topic.firstPost.postingDate | postingDate }}
                {% else %}
                    {% if criterionSlug == 'mas-votados' %}
                        <span class="fa fa-crosshairs" title="Fecha en la que se hizo popular"></span> {{ topic.dateMadePopular | postingDate }}
                    {% elseif criterionSlug == 'recientemente-comentados' %}
                        <span class="glyphicon glyphicon-pencil" title="Fecha del último comentario" ></span> {{ topic.lastPost.postingDate | postingDate }}
                    {% endif %}
                {% endif %}
            </span>
        </div>


        <div class="col-xs-5 col-sm-6 col-md-5 col-lg-4 comments-pages">

            <a class="hidden-xs" href="{{ path('topic_show_topic', {'forumSlug': topic.forum.slug , 'topicSlug': topic.slug, 'topicId': topic.id } ) }}#comentarios" title="Último comentario"><span class="glyphicon glyphicon-comment"></span> {{ (topic.lastPost.number - 1) | numberShortener }}</a>
            <a class="hidden-xs" href="{{ path('user_profile', {'userName': topic.lastPost.poster.username } ) }}" data-toggle="tooltip" data-placement="top" title="Último: {{ topic.lastPost.poster.username }}" >
                <img src="{{ asset('uploads/images/avatar/' ~ topic.lastPost.poster.avatarName) | imagine_filter('avatar_topic_mini') }}" alt="Avatar de {{ topic.lastPost.poster.username }}" >
            </a>
            {% if alreadyVisited == true %}
                <a title="Mensajes sin leer" href="{{ path('topic_show_topic_page', {'forumSlug': topic.forum.slug , 'topicSlug': topic.slug, 'topicId': topic.id, 'pageNumber': firstUnreadPost | postPageNumber(getGlobalVariables().getMaxPostsPerTopicPage) } ) }}#{{ firstUnreadPost | numberShortener }}">
                    <span class="glyphicon glyphicon-eye-close"></span> <span class="badge">{{ numberOfUnreadPosts | numberShortener() }}</span>
                </a>
            {% endif %}
            <a title="Páginas del tema" data-path="{{ path('topic_show_topic', {'forumSlug': topic.forum.slug , 'topicSlug': topic.slug, 'topicId': topic.id} ) }}" data-toggle="modal" data-target="#pageSelectorModal" data-last-page="{{ lastPageNumber }}" data-title="Selecciona una página del tema (Última: {{ lastPageNumber | numberShortener }})">
                <span class="glyphicon glyphicon-chevron-up"></span> {{ lastPageNumber }}
            </a>
        </div>
    </div>

</div>
