/****************************
** COMMON LESS-CSS
****************************/

// En este fichero less tengo todos los estilos comunes a todas las partes del foro

/* VARIABLES */

@import 'variables.less';


/* MIXINS*/

.alert-generator( @color: #000, @background-color: #b4ebff, @background-light-percent: 10%, @border-color: #d3d3d3,
                  @border-color-light-percent: 10%, @span-size: 1.1){
  color: @color;
  background-color: lighten(@background-color, @background-light-percent);
  border-color: lighten(@border-color, @border-color-light-percent);

  span {
    font-size: @font-size-base * @span-size;
  }
}

.ease-in-out-trans(){
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.scale-trans(){
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
  transform: scale(1.3);
}

.primary-button(){
  color: @secondary-color;
  background-color: @primary-color;
  -webkit-transition: @transition-ease;
  -moz-transition: @transition-ease;
  -o-transition: @transition-ease;
  -ms-transition: @transition-ease;
  transition: @transition-ease;
}

.lighten-primary-button(){
  color: @secondary-color;
  background-color: lighten(@primary-color, 10%);
  -webkit-transition: @transition-ease;
  -moz-transition: @transition-ease;
  -o-transition: @transition-ease;
  -ms-transition: @transition-ease;
  transition: @transition-ease;
}

.darken-secondary-button(){
  color: @tertiary-color;
  background-color: darken(@secondary-color, 10%);
  -webkit-transition: @transition-ease;
  -moz-transition: @transition-ease;
  -o-transition: @transition-ease;
  -ms-transition: @transition-ease;
  transition: @transition-ease;
}

.tertiary-button(){
  .primary-button();
  color: @secondary-color;
  background-color: @tertiary-color;
}

.darken-tertiary-button(){
  .primary-button();
  color: @secondary-color;
  background-color: darken(@tertiary-color, 20%);
}

.secondary-button(){
  .primary-button();
  color: @tertiary-color;
  background-color: @secondary-color;
}

.text-selection(@color: #fff, @background-color: #54b4ff, @background-light-percent: 10%){
  color: @color;
  background: lighten(@background-color, @background-light-percent);
}

.search-placeholder() {
  color: lighten(@primary-color, 20%);
  text-transform: uppercase;
}

/* SELECTORES */

#textarea-container > div {
  margin-bottom: 20px;
}

.bigger-text{
  font-size: @font-size-base * 1.2;
}

.center-element{
    margin: 0 auto;
}

// Fondo de select
select{
  & option:hover, & option:checked{
    box-shadow: 0 0 10px 100px @tertiary-color inset;
  }
}

// Cambio colores en Select2

// Bordes
.select2-drop-active {
  border: 1px solid @select2-border-color !important;
  border-top: none !important;
}

.select2-drop.select2-drop-above.select2-drop-active {
  border-top: 1px solid @select2-border-color !important;
}

.select2-container-active .select2-choice,
.select2-container-active .select2-choices {
  border: 1px solid @select2-border-color !important;
  outline: none!important;

  -webkit-box-shadow: 0 0 10px @select2-border-color !important;
  box-shadow: 0 0 10px @select2-border-color !important;
}

// Opción seleccionada
.select2-results .select2-highlighted {
  background: @tertiary-color !important;
  color: #fff;
}

div.alert{
  margin: 15px;
}

.primary-text-color{
  color: @primary-color;
}

.primary-text-color-bold{
  color: @primary-color;
  font-weight: bold;
}

.tertiary-text-color{
  color: @tertiary-color;
}

.tertiary-text-color-lighten{
  color: lighten(@tertiary-color, 10%);
}


// Quito los bordes redondeados y hago que se rompan las palabras exageradamente largas
* {
  border-radius: 0 !important;
  word-wrap: break-word;
}


// Modals y formulario de login
.modal-header{
  background-color: @modal-header-back-color;
  color:@modal-header-color;
}

a.link,
a.link{
  color: @tertiary-color;
}

a.link:hover{
  color: lighten(@tertiary-color, 10%);
}

// Botón primario

.btn-primary{
  background-color: @btn-primary-back-color;
  border-color: @btn-primary-back-color;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus{
  background-color: lighten(@btn-primary-back-color, 10%);
  border-color: @btn-primary-back-color;
}

.jumbotron{
  color: @secondary-color;
  background-color: @tertiary-color;
  margin: 15px 0;
}

// Alertas

.alert-{

  &info{
    .alert-generator(@secondary-color, @quaternary-color, 10%, @quaternary-color, 10%, 1.1);
  }

  &success{
    .alert-generator(@secondary-color, @primary-color, 20%, @primary-color, 20%, 1.1);
  }

  &danger{
    .alert-generator(@secondary-color, @tertiary-color, 10%, @tertiary-color, 10%, 1.1);
  }
}

// Color de selección de texto (no se pueden combinar)
::-moz-selection {
  .text-selection(@secondary-color, @tertiary-color, 5%);
}

::selection {
  .text-selection(@secondary-color, @tertiary-color, 5%);
}


// Cambio el color de la barra de navegación
.navbar {
  margin-bottom: 0px;
  border-bottom: 5px solid @quaternary-color;
}

.navbar-default {

  background-color: @primary-color;
  border-color: darken(@primary-color, 10%);

  & button.navbar-toggle{
    height: 34px;
    width: 44px;
  }

  & .new-notifications-collapsed{
    color:@notifications-collapsed-color;
    font-size: @font-size-base * 1.5;
    line-height: 14px;
  }

  & .navbar-brand {
    color: @brand-color;
  }

  & .navbar-brand:hover,
  & .navbar-brand:focus {
    color: @secondary-color;
  }

  & .navbar-nav li.active a {
    background-color: lighten(@primary-color, 10%);
    color: @secondary-color !important;
  }

  & .navbar-nav > li > a {
    color: @secondary-color;
  }

  & .navbar-nav > li > a:hover,
  & .navbar-nav > li > a:focus {
    color: @primary-color;
    background-color: @secondary-color;
    -webkit-transition: @transition-ease;
    -moz-transition: @transition-ease;
    -o-transition: @transition-ease;
    -ms-transition: @transition-ease;
    transition: @transition-ease;
  }

  & .navbar-nav > .active > a,
  & .navbar-nav > .active > a:hover,
  & .navbar-nav > .active > a:focus {
    color: @secondary-color;
    background-color: darken(@primary-color, 10%);
  }

  & .navbar-nav > .open > a,
  & .navbar-nav > .open > a:hover,
  & .navbar-nav > .open > a:focus {
    color: @primary-color;
    background-color: @secondary-color;
  }

  & .navbar-toggle {
    border-color: @secondary-color;
  }

  & .navbar-toggle:hover,
  & .navbar-toggle:focus {
    background-color: lighten(@primary-color, 20%);
  }

  & .navbar-toggle .icon-bar {
    background-color: @secondary-color;
  }

  // Modificación dropdown
  & .navbar-nav .open .dropdown-menu > li > a,
  & .navbar-nav .open .dropdown-menu {
    color:@primary-color;
  }

  & .navbar-nav .open .dropdown-menu > li > a:hover,
  & .navbar-nav .open .dropdown-menu > li > a:focus {
    color: @secondary-color;
    background-color: darken(@primary-color, 10%);
    -webkit-transition: @transition-ease;
    -moz-transition: @transition-ease;
    -o-transition: @transition-ease;
    -ms-transition: @transition-ease;
    transition: @transition-ease;
  }

  & .navbar-nav .dropdown-menu .divider {
    background-color: lighten(@primary-color, 30%);
  }
}

.form-control:focus,
textarea:focus {
  border-color: fade(@primary-color, 80%);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px fade(@primary-color, 60%);
}

// Formulario de búsqueda


#nav-search {
  & ::-moz-placeholder,
  & :-moz-placeholder{
    .search-placeholder();
    opacity:  1;
  }

  & ::-webkit-input-placeholder{
    .search-placeholder();
  }

  & :-ms-input-placeholder{
    .search-placeholder();
  }

  & .btn-default {
    color: @primary-color;
  }
}

// Footer
footer{
  background-color: @primary-color;
  color: @secondary-color;
  //  border-top: 5px solid @quaternary-color;

  & a {
    color: @secondary-color;
  }

  & #footer-links a:hover,
  & #footer-links a:focus{
    color: @primary-color;
    background-color: @secondary-color;
  }

  & a.facebook-logo,
  & a.gplus-logo,
  & a.twitter-logo,{
    font-size: @font-size-base * 3.5;
  }

  & .fa-stack {
    width: 1em;
    height: 1em;
    line-height: 1em;
  }

  & .fa-stack .fa {
    color: @secondary-color;
    .ease-in-out-trans();
  }
  & .fa-stack .fa.fa-square {
    color: @primary-color;
  }

  & .fa-stack:hover .fa.fa-square,
  & .fa-stack:active .fa.fa-square,
  & .fa-stack:focus .fa.fa-square {
    color: @secondary-color;
    .scale-trans();
  }

  & .fa-stack:hover .fa.fa-facebook-square,
  & .fa-stack:active .fa.fa-facebook-square,
  & .fa-stack:focus .fa.fa-facebook-square {
    color: @facebook-brand-color;
    .scale-trans();
  }

  & .fa-stack:hover .fa.fa-twitter-square,
  & .fa-stack:active .fa.fa-twitter-square,
  & .fa-stack:focus .fa.fa-twitter-square {
    color: @twitter-brand-color;
    .scale-trans();
  }

  & .fa-stack:hover .fa.fa-google-plus-square,
  & .fa-stack:active .fa.fa-google-plus-square,
  & .fa-stack:focus .fa.fa-google-plus-square {
    color: @gplus-brand-color;
    .scale-trans();
  }
}

.hidden-content{
  display: none;
}


//// Sticky footer styles (creado por Martin Bean y Ryan Fait, y modificado por mi)
//html,
//body {
//  height: 100%;
//  // Los elementos html y body no pueden tener ningún padding o margin
//}
//
//// Wrapper del contenido de la pagina para empujar el footer
//#wrap {
//  min-height: 100%;
//  height: auto !important;
//  height: 100%;
//  margin: 0 auto -160px;
//  padding: 0 0 160px;
//  background-color: @wrap-background-color;
//  display: -webkit-box;
//  display: -moz-box;
//  display: -webkit-flex;
//  display: -ms-flexbox;
//  display: flex;
//  -moz-box-direction: column;
//  -webkit-box-direction: column;
//  -webkit-flex-direction: column;
//  -ms-flex-direction: column;
//  flex-direction: column;
//}
//
//#main-container {
//  background-color: @main-container-color;
//  // Sombras laterales
//  box-shadow: 0 0px 0px 0px white, 0 -9px 0px 0px white, 12px 0 15px -4px rgba(182, 182, 182, 0.80), -12px 0 15px -4px rgba(182, 182, 182, 0.80);
//  padding-top: 20px;
//  -webkit-flex: 1;
//  -ms-flex: 1;
//  -moz-flex: 1;
//  flex: 1;
//}

// Seteo la altura fija del footer
footer {
  height: 340px;

  @media (min-width: 320px) {
    height: 300px;
  }

  @media (min-width: 768px) {
    height: 285px;
  }

  @media (min-width: 992px) {
    height: 160px;
  }
}

.navigation {

  margin-bottom: 10px;
  margin-top: 10px;

  & .pagination > li > a{
    .secondary-button();
  }

  & .pagination > li > span,
  & .pagination > li > a:hover,
  & .pagination-mini > span,
  & .pagination-mini > a:hover{
    .lighten-primary-button();
    border-color: @navigation-border-color;
  }

  & .pagination > li.disabled > span {
    .primary-button();
    border-color: @navigation-border-color;
  }

  & .pagination > li > span:hover,
  & .pagination-mini > a{
    .tertiary-button();
    border-color: @tertiary-color;
  }
}

// Flex

html{
  height: 100%;
}

body {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -moz-box-direction: column;
  -webkit-box-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
}
header,
footer {
  flex: none;
}


#main-container {
  flex: 1 0 auto; /* 2 */
  box-shadow: 0 0px 0px 0px white, 0 -9px 0px 0px white, 12px 0 15px -4px rgba(182, 182, 182, 0.80), -12px 0 15px -4px rgba(182, 182, 182, 0.80);
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  -moz-flex: 1 0 auto;
  flex: 1 0 auto;
  padding: 15px;
}

// Formularios
.form-title {
  font-size: @font-size-base * 1.6;

  & span{
    color: @tertiary-color;
  }
}

form legend{
  color: @primary-color;
}

.form-horizontal .control-label-left{
  text-align:left !important;
}

.select2-container{
  width: 100%;
}

/* MEDIA QUERIES */

@media (max-width: 767px) {

  #main-container{
    width: 100%;
  }

  .navbar-default {
    & .navbar-nav .open .dropdown-menu {
      color: @primary-color;
      background-color: @secondary-color;
    }

    & .navbar-collapse li{
      border-top: 1px solid @secondary-color;

      & > a, {
        line-height: 45px;
      }

      & .dropdown-menu li > a{
        line-height: 45px;
        border-top: 1px solid @primary-color;
      }
    }

    & .navbar-nav .open .dropdown-menu > li > a {
      color: @primary-color;
    }
    & .navbar-nav .open .dropdown-menu > li > a:hover,
    & .navbar-nav .open .dropdown-menu > li > a:focus {
      color: @secondary-color;
      background-color: @primary-color;
    }
  }

  .dropdown-header {
    color: lighten(@primary-color, 5%);
  }

  .navigation {
    text-align: center;
  }

  // Formularios
  .form-title {
    font-size: @font-size-base * 1.20;
  }

  form legend{
    font-size: @font-size-base * 1.1;
  }
}

