/****************************
** COMMON-VARIABLES LESS-CSS
****************************/

// En este fichero less tengo todas las variables comunes a todas las partes del foro

/* VARIABLES */

@brand-color: #fff;
@primary-color: #2c8c35;
@secondary-color: #FFFFFF;
@tertiary-color: #ed2939;
@quaternary-color: #889389;
@transition-ease: all 600ms ease;
@font-size-base:    14px;
@facebook-brand-color: #4761a1;
@twitter-brand-color: #55acee;
@gplus-brand-color: #da4937;
@wrap-background-color: #f7f7f7;
@main-container-color: #ffffff;
@navigation-border-color: #dddddd;
@notifications-collapsed-color: #ffffff;
@modal-header-back-color: @tertiary-color;
@modal-header-color: @secondary-color;
@btn-primary-back-color: @primary-color;
@select2-border-color: rgba(44, 140, 53, 1.8);

@border-color: #d3d3d3;
@not-pop-color: #1E90FF;
@topic-info-gly-color: #8c8c8c;
@panel-text-color: #6c6c6c;
@panel-votes-color: @tertiary-color;
@panel-first-bg-color: #f4f6f1;
@panel-second-bg-color: #eceee9;
@panel-hover-bg-color: #fff;
@odd-color: rgba(74, 74, 74, 0.02);
@even-color: rgba(113, 113, 113, 0.08);
@banned-color: #868686;
@online-color: #62ff2b;
@moderator-color: @primary-color;
@administrator-color: #54b4ff;
@voucher-mininum-color: #bf6d40;


