<li class="dropdown">
        <a data-toggle="dropdown">
            {{ app.user.username }}{% if (favoritesUnread > 0) or (quotesUnNotified > 0) or (signaturesUnNotified > 0) or (moderationUnNotified > 0) or ( (reportsUnNotified is defined) and (reportsUnNotified > 0) )%} <span class="new-notifications glyphicon glyphicon-exclamation-sign"> </span> {% endif %}<span class="caret"></span>
        </a>

        <ul class="dropdown-menu">
            <li><a href="{{ path('fos_user_profile_show') }}">Ver mi perfil</a></li>
            <li role="presentation" class="dropdown-header">Notificaciones</li>
            <li><a href="{{ path('user_favorites') }}">Favoritos ({{ favoritesUnread }})</a></li>
            <li><a href="{{ path('user_notifications', {'notificationType': 'citas'}) }}">Citas ({{ quotesUnNotified }})</a></li>
            <li><a href="{{ path('user_notifications', {'notificationType': 'firmas'}) }}">Firmas ({{ signaturesUnNotified }})</a></li>
            <li><a href="{{ path('user_notifications', {'notificationType': 'moderacion'}) }}">Moderación ({{ moderationUnNotified }})</a></li>
            {% if reportsUnNotified is defined  %}
                <li role="presentation" class="dropdown-header">Administración</li>
                <li><a href="{{ path('user_moderation_show_reports', {'show': 'no-leidos'}) }}">Reportes ({{ reportsUnNotified }})</a></li>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
                <li><a href="{{ path('sonata_admin_dashboard') }}">Panel de administración</a></li>
            {% endif %}
            <li role="presentation" class="divider"></li>
            <li><a href="{{ path('fos_user_security_logout') }}">Cerrar sesión</a></li>
        </ul>
</li>