{% extends "FOSUserBundle::layout.html.twig" %}

    {% block title %}
        Editar Perfil de {{ app.user.username }}
    {% endblock %}

{% block id 'editProfile' %}

{% block fos_user_content %}
    {% include "FOSUserBundle:Profile:edit_content.html.twig" with {'title': block('title')} %}
{% endblock fos_user_content %}
