{% trans_default_domain 'FOSUserBundle' %}
{% form_theme form '::Form/fields.html.twig' %}

{% block fos_user_content %}

    {% block content %}
        <div class="row">

            <div class="col-xs-12 col-md-10 col-md-offset-1">

                <h1 class="form-title"><span>></span>{{ title }}</h1>

                <form action="{{ path('fos_user_profile_edit') }}" class="form-horizontal" role="form" method="post" {{ form_enctype(form) }} novalidate>
                    {{ form_errors(form) }}

                    <fieldset>
                        <legend>Datos Obligatorios</legend>

                        {{ form_row(form.email.first) }}
                        {{ form_row(form.email.second) }}
                        {{ form_row(form.plainPassword.first) }}
                        {{ form_row(form.plainPassword.second) }}

                    </fieldset>

                    <fieldset>
                        <legend>Datos No Obligatorios</legend>

                        {{ form_row(form.userProfile.location) }}
                        {{ form_row(form.userProfile.birthday) }}
                        {{ form_row(form.avatarFile) }}
                        {{ form_row(form.userProfile.userCustomInfo) }}

                        {{ form_rest(form) }}

                        <div class="form-actions">
                            <button type="submit" class="btn btn-primary" name="editar">Editar Perfil</button>
                            <a href="{{ path('fos_user_profile_show') }}" class="btn btn-danger pull-right">Cancelar</a>
                        </div>
                    </fieldset>

                </form>
            </div>
        </div>
    {% endblock content %}
{% endblock %}
