{% extends '::frontend.html.twig' %}

{% block title %}
   Temas favoritos de {{ user.username }}
{% endblock %}

{% block id 'favorites' %}

{% block content %}

    <h3 class="notification-title">{{ user.username }}: <span class="notification-type">Favoritos</span></h3>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

        {% if results %}

            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
            <div id="firmas" class="row container">

                <div class="col-xs-4 hidden-xs primary-text-color-bold">
                    Último mensaje de:
                </div>

                <div class="col-xs-8 hidden-xs primary-text-color-bold">
                    Tema:
                </div>

                {% include '@User/Default/includes/favorites.html.twig' %}
            </div>

            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>

        {% else %}

            <div id="firmas">
                <div class="jumbotron">
                    <h2> {{ user.username }} no tiene temas favoritos</h2>
                </div>
            </div>

        {% endif %}

    </div>
</div>

{% endblock content %}

{% block modals %}

    {% if app.user == user %}
        {% include 'TopicBundle:Default/includes:dialogModal.html.twig' %}
        {% include 'TopicBundle:Default/includes:resultModal.html.twig' %}
    {% endif %}

    {% include 'ForumBundle:Default/includes:pageSelectorModal.html.twig' %}

{% endblock modals %}

    {% block customStylesheets %}
        {% stylesheets
        '@notifications_css'
        output='css/notifications.css'
        %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet">
        {% endstylesheets %}
    {% endblock customStylesheets %}

    {% block extraScripts %}
        {% javascripts
        '@user_notifications_js'

        output="js/user_favorites_js.js"

        %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock extraScripts %}


