<h3>Perfil de <span class="username">{{ user.username }}</span></h3>

{% if is_granted('ROLE_USER') %}
    {% if app.user.username == user.username %}
        <div class="options col-xs-12">

            <a href="{{ path('fos_user_profile_edit') }}" class="btn btn-primary btn" role="button"><span class="glyphicon glyphicon-pencil"></span> Editar Perfil</a>

            {% if is_granted('ROLE_MODERATOR') %}
                <a href="{{ path('user_moderation_show_reports', {'show': 'no-leidos'}) }}" class="btn btn-primary btn" role="button"><span class="glyphicon glyphicon-flag"></span> Reportes no leidos</a>
            {% endif %}
        </div>

    {% endif %}
{% endif %}

<div class="info col-xs-12">

    <div class="avatar-stats col-xs-12 col-md-5">
        <div class="avatar col-xs-12 col-md-4 thumbnail">
            <img src="{{ asset('uploads/images/avatar/' ~ user.avatarName) | imagine_filter('avatar_profile')}}" alt="Avatar de {{ user.username }}">
        </div>

        <div class="stats col-xs-12 col-md-8">
            <ul>
                <li><b>Nickname:</b> {{ user.username }}</li>
                <li><b>Ciudad:</b> {{  user.userprofile.location is null  ? '-' :  user.userprofile.location  }}</li>
                <li><b>Edad:</b> {{  user.userprofile.birthday is null  ? '-' :  user.userprofile.birthday|age  }}</li>
                <li><b>Registrado:</b>  {{ user.userprofile.regDate | date("m/d/Y") }}</li>
                <li><b>&Uacute;ltimo login:</b>  {{ user.lastLogin | date("m/d/Y") }}</li>
                <li><b>N&uacute;mero de posts:</b>  {{ user.userprofile.posts }}</li>
                <li><b>Votos positivos:</b>  {{ user.userprofile.dealsPositive }}</li>
                <li><b>Votos negativos:</b>  {{ user.userprofile.dealsNegative }}</li>
                <li><b>Temas publicados:</b>  {{ user.userprofile.topicsStarted }}</li>
            </ul>
        </div>

    </div>
    <div class="col-xs-12 col-md-7">
        <h4>Info de <span class="username">{{ user.username }}</span></h4>

        {% if user.userprofile.userCustomInfo != null %}
            <span class="custom-info">
                     {{ user.userprofile.userCustomInfo | signatureBbcodes() | nl2br }}
            </span>
        {% else %}
            <span class="custom-info text-center">
                         <span class="username">{{ user.userName }}</span> o ha introducido información personal :(
            </span>
        {% endif %}

    </div>

</div>

<div class="last-activity col-xs-12">
    <div class="last-posts col-xs-12 col-md-6">
        {% include '@User/Default/includes/userActivity.html.twig' with {'userName': user.username } %}
    </div>

    <div class="last-signatures col-xs-12 col-md-6">
        {% include '@User/Default/includes/userSignatures.html.twig' with {'userName': user.username } %}
    </div>
</div>


