{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}
    Perfil de {{ user.username }}
{% endblock %}

{% block id 'profile' %}

{% block fos_user_content %}
    {% if user.locked %}
        {% include "FOSUserBundle:Profile:show_banned_content.html.twig" with {"title" : "Perfil de"} %}
    {% else %}
        {% include "FOSUserBundle:Profile:show_content.html.twig" %}
    {% endif %}
{% endblock fos_user_content %}


{% block customStylesheets %}
    {% stylesheets
    '@profile_css'
    output='css/profile.css'
    %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet">
    {% endstylesheets %}
{% endblock customStylesheets %}
