{% extends '::frontend.html.twig' %}

{% block title %}
    Reportes - {{ show | capitalize }}
{% endblock %}

{% block id 'reportes' %}

{% block content %}

    <h3 class="reports-title">Reportes, mostrando: <span class="reports-type"><b>{{ show | capitalize | removeDashes }}</b></span> </h3>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <div class="row selector">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="nav nav-pills">
                        <li class="{% if show == 'todos' %}active{% endif %}"><a href="{{ path('user_moderation_show_reports', {'show': 'todos' } ) }}">Todos</a></li>
                        <li class="{% if show == 'no leidos' %}active{% endif %}"><a href="{{ path('user_moderation_show_reports', {'show': 'no-leidos' } ) }}">No Leidos</a></li>
                        <li class="{% if show == 'leidos' %}active{% endif %}"><a href="{{ path('user_moderation_show_reports', {'show': 'leidos' } ) }}">Leidos</a></li>
                    </ul>
                </div>
            </div>

            {% if results %}

                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>

                {% include '@User/Default/includes/reports.html.twig' %}

                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>

            {% else %}

                <div id="firmas">
                    <div class="jumbotron">
                        <h2> No tiene reportes de tipo: {{ show | capitalize | removeDashes }}</h2>
                    </div>
                </div>

            {% endif %}

        </div>
    </div>

    {% include '@Topic/Default/includes/resultModal.html.twig' %}

{% endblock content %}

{% block customStylesheets %}
    {% stylesheets
    '@reports_css'
    output='css/reports.css'
    %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet">
    {% endstylesheets %}
{% endblock customStylesheets %}




    {% block extraScripts %}
        {% javascripts
        '@reports_js'

        output="js/reports_js.js"
        %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock extraScripts %}


    {% block modals %}
        {% include 'ForumBundle:Default/includes:pageSelectorModal.html.twig' %}
    {% endblock modals %}
