{% extends '::frontend.html.twig' %}

{% if notificationType == 'moderacion' %}
    {% set notificationType = 'moderación' %}
{% endif %}

{% block title %}
    Notificaciones de {{ user.username }}: {{ notificationType | capitalize }}
{% endblock %}

{% block id notificationType %}

{% block content %}

    <h3 class="notification-title">{{ user.username }}: <span class="notification-type">{{ notificationType | capitalize }}</span></h3>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

            {% if results %}

                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>

                {% if notificationType == 'citas' %}
                    {% include '@User/Default/includes/quoteNotifications.html.twig' %}

                {% elseif notificationType == 'firmas'%}
                    {% include '@User/Default/includes/signatureNotifications.twig' %}

                {% elseif notificationType == 'moderación'%}
                    {% include '@User/Default/includes/moderationNotifications.html.twig' %}

                {% endif %}

                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>

            {% else %}

                <div id="firmas">
                    <div class="jumbotron">
                        <h2> {{ user.username }} no tiene notificaciones de este tipo</h2>
                    </div>
                </div>

            {% endif %}

        </div>
    </div>

{% endblock content %}

    {% block customStylesheets %}
        {% stylesheets
        '@notifications_css'
        output='css/notifications.css'
        %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet">
        {% endstylesheets %}
    {% endblock customStylesheets %}

{% block modals %}
    {% include 'ForumBundle:Default/includes:pageSelectorModal.html.twig' %}
{% endblock modals %}

    {% block extraScripts %}
            {% javascripts
            '@user_notifications_js'

            output="js/user_notifications_js.js"

            %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
    {% endblock extraScripts %}


