{% extends '::frontend.html.twig' %}

{% set maxChar = '400' %}

{% block title %}
    Firmas de {{ user.username }}
{% endblock %}

{% block id 'signatures' %}

{% block content %}

    <div class="row">
        <div class="col-xs-12 col-md-10 col-md-offset-1">

            {% if userIsNotBanned %}
                <h3>Firmas de <span class="username">{{ user.username }}</span> </h3>

                {% include '@User/Default/includes/signatureForm.html.twig' with {'maxChar': maxChar, 'showTitle': false} %}

                {% if results %}

                    <div class="navigation">
                        {{ knp_pagination_render(pagination) }}
                    </div>
                    <div id="firmas">
                        {% for userSignature in pagination %}
                            {% include '@User/Default/includes/signature.html.twig' with  {'displaySignatureOptions': 'true'} %}
                        {% endfor %}
                    </div>

                    <div class="navigation">
                        {{ knp_pagination_render(pagination) }}
                    </div>

                {% else %}

                    <div id="firmas">
                        <div class="jumbotron">
                            <h2> {{ user.username }} no tiene firmas</h2>
                        </div>
                    </div>

                {% endif %}

            {% else %}
                {% include "FOSUserBundle:Profile:show_banned_content.html.twig" with {"title" : "Firmas de"} %}

            {% endif %}

        </div>
    </div>

{% endblock content %}

{% block modals %}

    {% if results %}

        {% if is_granted('ROLE_DELETE_SIGNATURE', pagination |first) %}
            {% include 'TopicBundle:Default/includes:dialogModal.html.twig' %}
            {% include 'TopicBundle:Default/includes:resultModal.html.twig' %}
        {% endif %}
    {% endif %}

    {% include 'ForumBundle:Default/includes:pageSelectorModal.html.twig' %}

{% endblock modals %}

{% block customStylesheets %}
    {% stylesheets
    '@profile_css'
    output='css/profile.css'
    %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet">
    {% endstylesheets %}
{% endblock customStylesheets %}

{% block extraScripts %}

    {% javascripts
    '@signatures_js'

    output="js/signatures_js.js"

    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script>
        $(function(){
            $('textarea').characterCountDown({maxChar: {{ maxChar }} });
        });
    </script>
{% endblock extraScripts %}



