{% from 'MopaBootstrapBundle::flash.html.twig' import session_flash %}

<!DOCTYPE html>
<html lang="{{ app.request.locale }}" prefix="og: http://ogp.me/ns#">

{% block head %}
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <meta property="og:description" content="DealHunt, el mejor sitio para compartir chollos!!!" />
        <meta property="og:site_name" content="DealHunt"/>
        <meta property="og:type" content="article" />
        <meta property="og:image" content="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('bundles/forum/images/logos/dhlogo.png') }}" />

        {% block socialMetaTags %}
            <meta property="og:title" content="Página principal" />
            <meta property="og:url" content="{{ app.request.scheme ~'://' ~ app.request.httpHost }}" />
        {% endblock socialMetaTags %}

        <link rel="icon" type="image/png" href="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('bundles/forum/images/logos/favicon.png') }}">

        {% block styleSheets %}
            {% block baseStylesheets %}
                {% stylesheets
                '@common_css'
                output='css/common.css'
                %}
                <link href="{{ asset_url }}" type="text/css" rel="stylesheet">
                {% endstylesheets %}
            {% endblock baseStylesheets %}

            {% block customStylesheets %}

            {% endblock customStylesheets %}

        {% endblock styleSheets %}

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% block headScript %}

        {% endblock headScript %}

        <title>{% block title %}{% endblock %} | DealHunt</title>

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
{% endblock head %}

<body id="{% block id '' %}">

{% block body %}

    {% block header %}
        {% block navbar %}

        {% endblock navbar %}
    {% endblock header %}

    {% block container %}

    {% endblock container %}

    {% block footer %}

    {% endblock footer %}

{% endblock body %}

{% block footScripts %}
{% block baseScripts %}
    {% javascripts
    '@jquery_js'
    output="js/jquery.js"
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock baseScripts %}

    {% block customScripts %}

    {% endblock customScripts %}

    <script type="text/javascript">
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
            $('[data-toggle="popover"]').popover();
        });
    </script>

{% endblock footScripts %}

</body>

</html>