{% extends '::base.html.twig'%}

{% block body %}

        {% block header %}
            <header class="Site-header">
                {% block navbar %}
                    {% include '::includes/frontendNavbar.html.twig' %}
                {% endblock navbar %}
            </header>
        {% endblock header %}

        {% block container %}
            <div id="main-container" class="container">

                {% block flashbagMessages %}
                    {% include '::includes/flashbag.html.twig' %}
                {% endblock %}

                {% block content %}
                    <div class="row">
                        <article class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                            {#CONTENIDO PRINCIPAL DE LA PÁGINA – PESTAÑA POPULAR/NUEVO/DISCUTIDO – CATEGORIAS - TOPICS#}
                            {% block article %}{% endblock %}
                        </article>

                        <aside class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                            {# BARRA LATERAL CON LAS MEJORES OFERTAS DEL DIA/SEMANA/MES #}
                            {% block aside %}{% endblock %}
                        </aside>
                    </div>
                {% endblock %}

            </div>

        {% endblock container %}


    {% block footer %}
        <footer class="Site-footer">
            <div class="container">
                {% include '::includes/footer.html.twig' %}
            </div>
        </footer>
    {% endblock footer %}


    {% block modals %}

    {% endblock modals %}

    {% block loginModal %}

    {% endblock loginModal %}

    {% block moderatorModals %}

    {% endblock moderatorModals %}

{% endblock %}

{% block customScripts %}
    {% javascripts

    '@common_js'
    output="js/common.js"
    %}
    <script src="{{ asset_url }}"></script>

    {% endjavascripts %}

    {% block extraScripts %}

    {% endblock extraScripts %}

{% endblock customScripts%}