{#
/**
 * @file
 * Twitter Bootstrap v3 Sliding pagination control implementation.
 *
 * View that can be used with the pagination module
 * from the Twitter Bootstrap CSS Toolkit
 * http://getbootstrap.com/components/#pagination
 *
 * @author Pablo Díez <pablodip@gmail.com>
 * @author Jan Sorgalla <jsorgalla@gmail.com>
 * @author Artem Ponomarenko <imenem@inbox.ru>
 * @author Artem Zabelin <artjomzabelin@gmail.com>
 */
#}


{#
* Fichero twig perteneciente a KnpPaginatorBundle modificado para obtener una paginación responsive y para que el
* cambio de página apunte al anchor #comentarios
#}
{% if pageCount > 1 %}
    <ul class="nav">

        {% if previous is defined %}
            <li>
                <a href="{{ path(route, query|merge({(pageParameterName): startPage })) }}#comentarios"><span class="glyphicon glyphicon-fast-backward"></span></a>
            </li>
            <li>
                <a href="{{ path(route, query|merge({(pageParameterName): previous })) }}#comentarios"><span class="glyphicon glyphicon-step-backward"></span></a>
            </li>
        {% else %}
            <li>
                <span class="disabled-page glyphicon glyphicon-fast-backward"></span>
            </li>
            <li>
                <span class="disabled-page glyphicon glyphicon-step-backward"></span>
            </li>
        {% endif %}

        {% if startPage > 1 %}
            <li>
                <a href="{{ path(route, query|merge({(pageParameterName): 1})) }}#comentarios">1</a>
            </li>
            {% if startPage == 3 %}
                <li>
                    <a href="{{ path(route, query|merge({(pageParameterName): 2})) }}#comentarios">2</a>
                </li>
            {% elseif startPage != 2 %}
                <li>
                    <span class="disabled-page">&hellip;</span>
                </li>
            {% endif %}
        {% endif %}

        {% for page in pagesInRange %}
            {% if page != current %}
                <li>
                    <a href="{{ path(route, query|merge({(pageParameterName): page})) }}#comentarios">{{ page }}</a>
                </li>
            {% else %}
                <li>
                    <span class="current-page">{{ page }}</span>
                </li>
            {% endif %}

        {% endfor %}

        {% if pageCount > endPage %}
            {% if pageCount > (endPage + 1) %}
                {% if pageCount > (endPage + 2) %}
                    <li>
                        <span class="disabled-page">&hellip;</span>
                    </li>
                {% else %}
                    <li>
                        <a href="{{ path(route, query|merge({(pageParameterName): (pageCount - 1)})) }}#comentarios">{{ pageCount -1 }}</a>
                    </li>
                {% endif %}
            {% endif %}
            <li>
                <a href="{{ path(route, query|merge({(pageParameterName): pageCount})) }}#comentarios">{{ pageCount }}</a>
            </li>
        {% endif %}

        {% if next is defined %}
            <li>
                <a  href="{{ path(route, query|merge({(pageParameterName): next })) }}#comentarios"><span class="glyphicon glyphicon-step-forward"></span></a>
            </li>
            <li>
                <a  href="{{ path(route, query|merge({(pageParameterName): endPage })) }}#comentarios"><span class="glyphicon glyphicon-fast-forward"></span></a>
            </li>
        {% else %}
            <li>
                <span class="disabled-page"><span class="glyphicon glyphicon-step-forward"></span></span>
            </li>
            <li>
                <span class="disabled-page glyphicon glyphicon-fast-forward"></span>
            </li>
        {% endif %}
    </ul>
{% endif %}