{% extends '::frontend.html.twig' %}
{% form_theme form '::Form/fields.html.twig' %}

    {% block customStylesheets %}
        {% stylesheets
        '@select2_css'
        output='css/select2.css'
        %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet">
        {% endstylesheets %}
    {% endblock customStylesheets %}

{% block title %}
    {{ formTitle }}
{% endblock %}

{% block id blockId %}

    {% block content %}
        <div class="row">
            <div class="col-xs-12 col-md-10 col-md-offset-1">

                <h1 class="form-title"><span>></span> {{ block('title') }}</h1>

                <form action="{{ path('topic_edit_topic', {'forumSlug': topic.forum.slug, 'topicId': topic.id } ) }}" class="form-horizontal" role="form" method="post" {{ form_enctype(form) }} novalidate>

                    <fieldset>
                        <legend>Datos Obligatorios</legend>
                        {{ form_errors(form) }}

                        {{ form_row(form.title) }}
                        {{ form_row(form.firstPost.message) }}

                        {% if (blockId== 'edit-deal') or (blockId== 'edit-voucher') or (blockId== 'edit-free') %}
                            {{ form_row(form.category) }}
                            {{ form_row(form.url) }}
                            {{ form_row(form.topicImageFile) }}
                            {{ form_row(form.shop) }}

                            {% if (blockId== 'edit-voucher') %}
                                {{ form_row(form.voucher) }}
                            {% endif %}

                        {% endif %}

                    </fieldset>

                    {% if (blockId== 'edit-deal') or (blockId== 'edit-voucher') or (blockId== 'edit-free') %}
                        <fieldset>
                            <legend>Datos No Obligatorios</legend>

                            {{ form_row(form.dateStart) }}
                            {{ form_row(form.dateEnd) }}

                            {% if (blockId== 'edit-voucher') %}
                                {{ form_row(form.voucherDiscount) }}
                                {{ form_row(form.voucherMinimum) }}
                            {% endif %}

                        </fieldset>
                    {% endif %}

                    {{ form_rest(form) }}

                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary" name="crear">Editar Tema</button>
                        <a href="{{ path('topic_show_topic', {'forumSlug': topic.forum.slug , 'topicSlug': topic.slug, 'topicId': topic.id } ) }}" class="btn btn-danger pull-right">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    {% endblock %}

    {% block extraScripts %}
        {% javascripts

        '@select2_js'
        output="js/select2_js.js"
        %}
        <script src="{{ asset_url }}"></script>

        {% endjavascripts %}

        <script>
            $(function() {
                ZenstruckFormHelper.initialize();
            });
            $(document).ready(function() { $(".select2-field").select2(); });
        </script>
    {% endblock extraScripts %}


