{% extends '::frontend.html.twig' %}

{% set topicUrl =  url('topic_show_topic', {'forumSlug': topic.forum.slug, 'topicSlug': topic.slug, 'topicId': topic.id  }) %}

{% block title %}
    {{ topic.title }}
{% endblock %}

{% block id 'topic' %}

{% block content %}

    <div class="affix-pagination hidden-xs hidden-sm navigation col-md-1 col-lg-1" >
        <div data-spy="affix" data-offset-top="90">
            {{ knp_pagination_render(pagination, 'TopicBundle:Default/pagination:MOD_AFFIX_twitter_bootstrap_v3_pagination.html.twig') }}
        </div>

    </div>

    <div class="posts-container col-md-11 col-lg-11">

        <div class="row hidden-xs hidden-sm">
            <ol class="breadcrumb">
                <li><a href="{{ path('forum_front_page')}}">Inicio</a></li>
                <li><a href="{{ path('forum_show_topics_ordered_by', {'forumSlug': forumSlug, 'criterionSlug': criterionSlug})}}">{{ forumSlug | capitalize }}</a></li>
                {% if category == null %}
                    <li><a href="{{ path('forum_show_category_topics_ordered_by', {'forumSlug': forumSlug, 'categorySlug': 'todas' , 'criterionSlug': criterionSlug})}}">Todas</a></li>
                {% else %}
                    <li><a href="{{ path('forum_show_category_topics_ordered_by', {'forumSlug': forumSlug, 'categorySlug': category.slug , 'criterionSlug': criterionSlug})}}">{{ category.slug | capitalize }}</a></li>
                {% endif %}
                <li class="active">{{ topic.title | truncate(65, true) }}</li>
            </ol>
        </div>

        <div class="navigation hidden-md hidden-lg text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        {% if (topic.getTopicType == 'TopicDeal') or (topic.getTopicType == 'TopicFree') %}

            {% include '@Post/Default/includes/firstDealPost.html.twig' %}

            <span id="comentarios"></span>

            {% for post in pagination %}
                {% include '@Post/Default/includes/post.html.twig' %}
            {% endfor %}

        {% elseif topic.getTopicType == 'TopicVoucher' %}

            {% include '@Post/Default/includes/firstVoucherPost.html.twig' %}

            <span id="comentarios"></span>

            {% for post in pagination %}
                {% include '@Post/Default/includes/post.html.twig' %}
            {% endfor %}

        {% elseif topic.getTopicType == 'TopicWithTags'%}

            {% include '@Post/Default/includes/firstNormalPost.html.twig' with {topicHasTags : true} %}

            <span id="comentarios"></span>

            {% for post in pagination %}
                {% include '@Post/Default/includes/post.html.twig' %}
            {% endfor %}

        {% else %}

            {% include '@Post/Default/includes/firstNormalPost.html.twig' with {topicHasTags : false} %}

            <span id="comentarios"></span>

            {% for post in pagination %}
                {% include '@Post/Default/includes/post.html.twig' %}
            {% endfor %}

        {% endif %}


        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>


        {% if topic.isclosed %}
            <button type="button" class="btn btn-lg btn-danger topic-closed-button" disabled="disabled"><span class="glyphicon glyphicon-lock"> Tema Cerrado</span></button>

            {% if  is_granted('ROLE_MODERATOR') %}
                {% include '@Topic/Default/includes/topicReplyForm.twig' %}
            {% endif %}

        {% else %}
            {% if is_granted('ROLE_USER') %}
                {% include '@Topic/Default/includes/topicReplyForm.twig' %}
            {% else %}
                <div class="row should-register">
                    <div class="col-xs-10 col-xs-offset-1">
                        Para poder comentar este tema debes estar <a  href="{{ path('fos_user_security_login') }}#" data-toggle="modal" data-target="#dialogLoginModal"> loguead@</a>, si no tienes cuenta ya va siendo hora de que te <a href="{{ path('fos_user_registration_register')}}">registres!!!</a>
                    </div>
                </div>
            {% endif %}
        {% endif %}

    </div>

{% endblock %}



{% block modals %}

    {% include 'TopicBundle:Default/includes:resultModal.html.twig' %}

    {% if is_granted('ROLE_USER') %}
        {% include 'TopicBundle:Default/includes:dialogModal.html.twig' %}
        {{ render(controller('PostBundle:Default:reportFormModal')) }}
    {% endif %}

    {% include 'ForumBundle:Default/includes:pageSelectorModal.html.twig' %}

{% endblock modals %}

{% block moderatorModals %}

    {% if  is_granted('ROLE_MODERATOR') %}
        {{ render(controller('UserBundle:AdminMod:banFormModal')) }}
    {% endif %}

{% endblock moderatorModals %}

        {% block customStylesheets %}
            {% stylesheets
            '@topic_css'
            output='css/topic.css'
            %}
            <link href="{{ asset_url }}" type="text/css" rel="stylesheet">
            {% endstylesheets %}
        {% endblock customStylesheets %}


        {% block socialMetaTags %}
            <meta property="og:title" content="{{ topic.title }}" />
            <meta property="og:url" content="{{ topicUrl }}" />
        {% endblock socialMetaTags %}

{% block extraScripts %}

    {% if  is_granted('ROLE_MODERATOR') %}
        {% javascripts
        '@topic_moderator_js'

        output="js/topic_moderator_js.js"

        %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}

    {% else %}
        {% if  is_granted('ROLE_USER') %}
            {% javascripts
            '@topic_user_js'

            output="js/topic_user_js.js"
            %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}

        {% else %}

            {% javascripts
            '@topic_not_user_js'

            output="js/topic_not_user_js.js"
            %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}

        {% endif %}
    {% endif %}

{% endblock extraScripts %}