{% extends '::frontend.html.twig' %}

{% block title %}
    Vota y comparte las mejores ofertas y descuentos
{% endblock %}

{% block id 'frontpage' %}

    {% block article %}

        {% include '@Forum/Default/includes/categoryCriterionSelectors.html.twig' %}

        {% if  results == true %}

            <div class="topics-wrapper">
                {% if (forumTopicsType == 'TopicDeal') or (forumTopicsType == 'TopicFree') %}
                    {% for topic in pagination %}

                        {% if (userVisitedTopics is defined) and (topic.id in userVisitedTopics) %}

                            {% include '@Forum/Default/includes/dealTopic.html.twig' with {'alreadyVisited': true} %}

                        {% else %}

                            {% include 'ForumBundle:Default:includes/dealTopic.html.twig' with {'alreadyVisited': false} %}

                        {% endif %}

                        <hr class="custom-divider">

                    {% endfor %}

                {% elseif forumTopicsType == 'TopicVoucher' %}
                    {% for topic in pagination %}

                        {% if (userVisitedTopics is defined) and (topic.id in userVisitedTopics) %}

                            {% include '@Forum/Default/includes/voucherTopic.html.twig' with {'alreadyVisited': true} %}

                        {% else %}

                            {% include 'ForumBundle:Default:includes/voucherTopic.html.twig' with {'alreadyVisited': false} %}

                        {% endif %}

                        <hr class="custom-divider">

                    {% endfor %}

                {% else %}
                    {% for topic in pagination %}

                        {% if (userVisitedTopics is defined) and (topic.id in userVisitedTopics) %}

                            {% include '@Forum/Default/includes/normalTopic.html.twig' with {'alreadyVisited': true} %}

                        {% else %}

                            {% include 'ForumBundle:Default:includes/normalTopic.html.twig' with {'alreadyVisited': false} %}

                        {% endif %}

                        <hr class="custom-divider">

                    {% endfor %}
                {% endif %}

                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>

        {% else %}

            <div class="jumbotron">
                <h2>No existen temas en este foro o has escrito una dirección errónea</h2>
            </div>

        {% endif %}

    {% endblock %}

    {% block aside %}
            {% if forumTopicsType == 'TopicDeal' %}
                {% set typeOfNewTopic = 'Nueva Oferta' %}
            {% elseif  forumTopicsType == 'TopicVoucher' %}
                {% set typeOfNewTopic = 'Nuevo Cupón' %}
            {% elseif  forumTopicsType == 'TopicFree' %}
                {% set typeOfNewTopic = 'Nuevo Gratuito' %}
            {% else %}
                {% set typeOfNewTopic = 'Nuevo Tema' %}
            {% endif %}

            <a href="{{ path('topic_new_topic', {'forumSlug': forumSlug } ) }}" class="btn btn-lg btn-block" role="button"><span class="glyphicon glyphicon-plus"></span> {{ typeOfNewTopic }}</a>

            {% if (forumTopicsType == 'TopicDeal') or (forumTopicsType == 'TopicVoucher') or (forumTopicsType == 'TopicFree') %}
                {% include 'ForumBundle:Default:includes/topTopics.html.twig' %}
            {% endif %}
        <div class="col-xs-12">
            <img src="{{ asset('bundles/forum/images/logos/deerlogolarge_red.png') }}" class="img-responsive center-element" alt="logo-aside-big">
        </div>
    {% endblock %}

    {% block modals %}

        {% include 'ForumBundle:Default/includes:pageSelectorModal.html.twig' %}

    {% endblock modals %}

    {% block customStylesheets %}
        {% stylesheets
        '@forum_css'
        output='css/forum.css'
        %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet">
        {% endstylesheets %}
    {% endblock customStylesheets %}

    {% block extraScripts %}
        {% if (forumTopicsType == 'TopicDeal') or(forumTopicsType == 'TopicVoucher') or(forumTopicsType == 'TopicFree')  %}
            {% javascripts
            '@forum_js'

            output="js/forum_js.js"

            %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}

        {% else %}
            {% javascripts
            '@forum_normal_js'

            output="js/forum_normal_js.js"

            %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}

        {% endif %}
    {% endblock extraScripts %}