{% extends '::frontend.html.twig' %}

{% block title %}
    Temas de la tienda {{ shopName }}
{% endblock %}
    
{% block id 'showForumByShop' %}

    {% block content %}
        <div class="row">

            <div class = "col-xs-12 col-sm-12 col-md-12 col-lg-12">

                {% include '@Forum/Default/includes/forumSelectors.html.twig' with {'showingTopicsBy' : 'shops'} %}

                <div class="topics-wrapper">
                    {% if (results == true) and (pagination.getTotalItemCount > 0) %}

                        <h2 class="results-title">Temas en <span class="tertiary-text-color">{{ forumName }}</span>  para la tienda <span class="primary-text-color">{{ shopName }}</span></h2>
                        <div class="col-md-10 col-md-offset-1">

                            {% if forumTopicsType == 'TopicDeal' %}
                                {% for topic in pagination %}
                                    {% include '@Forum/Default/includes/dealTopic.html.twig' with {'alreadyVisited': false}%}
                                    <hr class="custom-divider">
                                {% endfor %}

                            {% elseif forumTopicsType == 'TopicVoucher' %}
                                {% for topic in pagination %}
                                    {% include '@Forum/Default/includes/voucherTopic.html.twig' with {'alreadyVisited': false}%}
                                    <hr class="custom-divider">
                                {% endfor %}


                            {% elseif forumTopicsType == 'TopicFree' %}
                                {% for topic in pagination %}
                                    {% include '@Forum/Default/includes/dealTopic.html.twig' with {'alreadyVisited': false}%}
                                    <hr class="custom-divider">
                                {% endfor %}

                            {% else %}
                                {% for topic in pagination %}
                                    {% if topic.getTopicType == 'TopicVoucher' %}
                                        {% include '@Forum/Default/includes/voucherTopic.html.twig' with {'forumTopicsType': 'TopicVoucher', 'alreadyVisited': false} %}

                                    {% else %}
                                        {% include '@Forum/Default/includes/dealTopic.html.twig' with {'forumTopicsType': 'TopicFree', 'alreadyVisited': false} %}
                                    {% endif %}

                                    <hr class="custom-divider">
                                {% endfor %}
                            {% endif %}

                        </div>

                        <div class="navigation">
                            {{ knp_pagination_render(pagination) }}
                        </div>

                    {% else %}
                        <div class="jumbotron">
                            <h2> No existen temas en {{ forumName | capitalize | removeDashes }} para la tienda {{ shopName | capitalize | removeDashes }}</h2>
                        </div>

                    {% endif %}

                </div>

            </div>

        </div>

    {% endblock %}

    {% block modals %}

        {% include 'ForumBundle:Default/includes:pageSelectorModal.html.twig' %}

    {% endblock modals %}

    {% block customStylesheets %}
        {% stylesheets
        '@forum_css'
        output='css/forum.css'
        %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet">
        {% endstylesheets %}
    {% endblock customStylesheets %}

    {% block extraScripts %}
        {% javascripts
        '@forum_js'

        output="js/forum_js.js"

        %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock extraScripts %}