{% extends '::frontend.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}
    
{% block id 'showForumSearch' %}

    {% block content %}
        <div class="row">

            <div class = "col-xs-12 col-sm-12 col-md-12 col-lg-12">

                {% include ':includes:searchForm.html.twig' with {'searchForm': searchForm, 'type': type} %}

                <div class="topics-wrapper">
                    {% if pagination is defined %}
                        {% if  pagination.getTotalItemCount > 0 %}
                            <div class="navigation">
                                {{ knp_pagination_render(pagination) }}
                            </div>

                            <h2 class="results-title">Resultado de buscar <span class="tertiary-text-color">{{ searchTerm }}</span>:</h2>
                            <div class="col-md-10 col-md-offset-1">

                                {% for topic in pagination %}
                                    {% if topic.getTopicType == 'TopicDeal'%}
                                        {% include '@Forum/Default/includes/dealTopic.html.twig' with {'searchResult': 'true', 'forumTopicsType': 'TopicDeal', 'alreadyVisited': false} %}

                                    {% elseif topic.getTopicType == 'TopicVoucher' %}
                                        {% include '@Forum/Default/includes/voucherTopic.html.twig' with {'searchResult': 'true', 'forumTopicsType': 'TopicVoucher', 'alreadyVisited': false} %}

                                    {% elseif topic.getTopicType == 'TopicFree' %}
                                        {% include '@Forum/Default/includes/dealTopic.html.twig' with {'searchResult': 'true', 'forumTopicsType': 'TopicFree', 'alreadyVisited': false} %}

                                    {% else %}
                                        {% include 'ForumBundle:Default:includes/normalTopic.html.twig' with {'searchResult': 'true', 'alreadyVisited': false}%}

                                    {% endif %}
                                    <hr class="custom-divider">
                                {% endfor %}
                            </div>

                            <div class="navigation">
                                {{ knp_pagination_render(pagination) }}
                            </div>

                        {% endif %}

                    {% else %}
                        <div class="jumbotron">
                            <h2>No existen temas con el término/s introducido/s</h2>
                        </div>

                    {% endif %}
                </div>
            </div>
        </div>

    {% endblock %}

    {% block modals %}

        {% include 'ForumBundle:Default/includes:pageSelectorModal.html.twig' %}

    {% endblock modals %}

    {% block customStylesheets %}
        {% stylesheets
        '@forum_css'
        output='css/forum.css'
        %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet">
        {% endstylesheets %}
    {% endblock customStylesheets %}

    {% block extraScripts %}
        {% javascripts
        '@forum_js'

        output="js/forum_js.js"

        %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock extraScripts %}