<li>
    <!-- Button trigger modal -->
    <a  href="{{ path('fos_user_security_login') }}#" data-toggle="modal" data-target="#dialogLoginModal">
        <span class="glyphicon glyphicon-user"></span> Login
    </a>

    <!-- Modal -->
    <div class="modal fade" id="dialogLoginModal" tabindex="-1" role="dialog" aria-labelledby="dialogLoginModalTitle" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="dialogLoginModalTitle">Formulario de Login</h4>
                </div>
                <form role="form" action="{{ path('fos_user_security_check') }}" method="post">

                    <div class="modal-body">
                        {% if error %}
                            <div class="alert alert-danger">{{ error|trans }}</div>
                        {% endif %}

                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                        <div class="form-group">
                            <label for="login_username">Nombre de usuario</label>
                            <input type="text" class="form-control" id="login_username" placeholder="Introduce tu usuario" name="_username" value="{{ last_username }}" required="required">
                        </div>
                        <div class="form-group">
                            <label for="login_password">Contraseña</label>
                            <input type="password" class="form-control" id="login_password" placeholder="Introduce tu contrase&ntilde;a" name="_password" required="required" >
                        </div>
                        <div class="checkbox">
                            <label for="login_remember_me">
                                <input type="checkbox" id="login_remember_me" name="_remember_me" checked> Recordar
                            </label>
                        </div>

                        <a class="link" href="{{ path('fos_user_resetting_request') }}">¿Has olvidado tu contraseña?</a>

                    </div>

                    <div class="modal-footer">
                        <button type="submit" id="login_submit" name="_submit" class="btn btn-primary"><span class="glyphicon glyphicon-user"></span> Entrar</button>
                        <a href="{{ path('fos_user_registration_register') }}" role="button" class="btn btn-danger"><span class="glyphicon glyphicon-pencil"></span> Reg&iacute;strate</a>
                    </div>

                </form>
            </div>
        </div>
    </div>
</li>