{% extends '::frontend.html.twig' %}

{% set maxChar = '400' %}

{% block title %}
    Firma para {{ user.username }}
{% endblock %}

{% block id 'newSignature' %}

    {% block content %}

        {% include '@User/Default/includes/signatureForm.html.twig' with {'showTitle': true} %}

    {% endblock %}

{% block extraScripts %}

    {% javascripts
    '@signatures_js'

    output="js/signatures_js.js"

    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script>
        $(function(){
            $('textarea').characterCountDown({maxChar: {{ maxChar }} });
        });
    </script>
{% endblock extraScripts %}
