{% extends '::frontend.html.twig' %}

{% block title %}
    Ayuda
{% endblock %}

{% block id 'help' %}

{% block content %}
    <div class="col-md-10 col-md-offset-1 bigger-text">

        <h3>  <span class="tertiary-text-color">></span> Ayuda</h3>

        <img src="{{ asset('bundles/forum/images/logos/deerlogolarge_red.png') }}" class="img-responsive center-element" alt="logo-deal-hunt">

        <br>

        <p>En este apartado podrás encontrar ayuda para utilizar la web DealHunt:</p>

        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Registro
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    En la parte superior derecha en la barra de navegación se puede encontrar el botón de registro. El usuario debe hacer clic sobre él, en cuyo caso, se le mostrará el formulario de registro que debe rellenar. Una vez enviado el formulario, recibirá un mensaje informando de que se ha enviado a su correo un enlace que debe visitar para finalizar el registro. Una vez visitado ese enlace la cuenta será activada y el usuario ya estará autenticado.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Login
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                    Haciendo clic sobre el botón login de la cabecera nos aparecerá un formulario que debemos rellenar para autenticarnos, además de escoger si queremos que se recuerde la sesión.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Ver si un usuario está online
                    </a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                    Si un usuario ha estado activo recientemente se mostrará con un indicador de verde debajo de su avatar o con letras verdes también debajo de su avatar.
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingFour">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        Ver cupón completo
                    </a>
                </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                <div class="panel-body">
                    En ocasiones cuando los códigos de los cupones son muy largos se cortan para un mejor visionado de la web (aquellos que tienen puntos suspensivos), para verlos completos solo tenemos que hacer clic sobre el símbolo de tijeras que está al lado del código.
                </div>
            </div>
        </div>


        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingFive">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        Visitar perfil de usuario
                    </a>
                </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                <div class="panel-body">
                    Para visitar el perfil de un usuario simplemente tenemos que hacer clic en uno de los múltiples enlaces que podemos encontrar en la aplicación web y que pueden estar bien en el nombre del usuario o en el avatar del usuario.
                </div>
            </div>
        </div>


        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingSix">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                        Distinción de roles de usuarios
                    </a>
                </h4>
            </div>
            <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                <div class="panel-body">
                    En esta aplicación web hay diferentes roles de usuario, los cuales pueden ser diferenciados por el color de su nombre de usuario, el usuario normal (rojo), el moderador (verde) y el administrador (azul).
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingSeven">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                        Compartir enlace de tema en redes sociales
                    </a>
                </h4>
            </div>
            <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
                <div class="panel-body">
                    Si queremos compartir una oferta, cupón o artículo gratuito dentro de los temas en el primer mensaje encontraremos botones sobre los que tenemos que hacer clic para compartir en Facebook, twitter y google plus.
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingEight">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                        Ver hora última edición de un mensaje
                    </a>
                </h4>
            </div>
            <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
                <div class="panel-body">
                    Si un mensaje ha sido editado puede encontrarse al lado de la fecha de publicación del mensaje un dibujo de un lápiz, pasando sobre él o presionándolo podremos ver la fecha de la última edición
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingNine">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                        Ver mensaje citado
                    </a>
                </h4>
            </div>
            <div id="collapseNine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine">
                <div class="panel-body">
                    Cuando nos encontremos #NÚMERO (#3 #2) con forma de enlace significa que en el mensaje hay una cita al mensaje con ese número en el tema en el que nos encontremos, para ver el mensaje citado simplemente debemos hacer clic sobre él.
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTen">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                        Ver temas asociados a una etiqueta/tienda
                    </a>
                </h4>
            </div>
            <div id="collapseTen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTen">
                <div class="panel-body">
                    Si queremos ver los temas asociados a una etiqueta solo tendremos que hacer clic en la etiqueta deseada, que encontraremos al inicio del tema, al lado de un dibujo de etiquetas. Si lo que queremos es ver los temas asociados a una tienda solo tendremos que hacer clic en la tienda que encontraremos al inicio del tema, al lado de un dibujo de un carro de compras.
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingEleven">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
                        Saber fecha de inicio/finalización de un tema
                    </a>
                </h4>
            </div>
            <div id="collapseEleven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEleven">
                <div class="panel-body">
                    Si por ejemplo una oferta tiene una fecha de inicio y de finalización podremos consultarla en el recuadro que encontraremos al inicio del tema al lado de unos dibujos de calendarios.
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwelve">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
                        Reinicar contraseña
                    </a>
                </h4>
            </div>
            <div id="collapseTwelve" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwelve">
                <div class="panel-body">
                    <p>Si el usuario no recuerda su contraseña, ésta puede ser reiniciada. Lo primero que tiene que hacer es, hacer clic sobre el botón de login de la cabecera, se le mostrará el formulario de login en el verá un enlace llamado ¿Has olvidado tu contraseña? debe hacer clic sobre el.</p>
                    <p>Una vez hecho clic en el enlace se mostrará un formulario donde se debe introducir el nombre de la cuenta de usuario para la cual queremos reiniciar la contraseña.</p>
                    <p>Se nos mostrará un mensaje informando de que se ha enviado un correo a la cuenta de correo asociada al usuario para el cual queremos reiniciar la contraseña. En el correo enviado encontraremos un enlace que debemos visitar</p>
                    <p>Una vez visitado el enlace se nos mostrará un formulario para introducir una nueva contraseña, debemos rellenarlo y enviar el formulario. Una vez enviado el formulario se nos redirigirá a la cuenta del usuario para el cual hemos reiniciado la contraseña</p>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThirteen">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThirteen" aria-expanded="false" aria-controls="collapseThirteen">
                        Ver panel de usuario
                    </a>
                </h4>
            </div>
            <div id="collapseThirteen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThirteen">
                <div class="panel-body">
                    Una vez autenticado, el usuario podrá ver arriba a la derecha su nombre de usuario, es un botón sobre el que debe hacer clic para poder ver el panel de usuario.
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingFourteen">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFourTeen" aria-expanded="false" aria-controls="collapseFourTeen">
                        Notificaciones y favoritos
                    </a>
                </h4>
            </div>
            <div id="collapseFourTeen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFourteen">
                <div class="panel-body">
                    <p>Para poder acceder a nuestras notificaciones por cita, tenemos que acceder a nuestro panel de usuario  y hacer clic sobre Citas (x) donde x son el número de notificaciones por cita que no hemos leído.</p>
                    <p>Para poder acceder a nuestras notificaciones por firma, tenemos que acceder a nuestro panel de usuario y hacer clic sobre Firmas (x) donde x son el número de notificaciones por firma que no hemos leído.</p>
                    <p>Para poder acceder a nuestras notificaciones por moderación, tenemos que acceder a nuestro panel de usuario  y hacer clic sobre Moderación (x) donde x son el número de moderaciones que no hemos leído.</p>
                    <p>Para poder acceder a nuestros temas favoritos, tenemos que acceder a nuestro panel de usuario y hacer clic sobre Favoritos (x) donde x son el número de temas favoritos en el que hay nuevos mensajes desde nuestra última visita.</p>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingFifteen">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFifteen" aria-expanded="false" aria-controls="collapseFifteen">
                        Editar perfil de usuario
                    </a>
                </h4>
            </div>
            <div id="collapseFifteen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFifteen">
                <div class="panel-body">
                    Una vez hemos accedido a nuestro perfil, debemos hacer clic sobre el botón Edita Perfil, se nos mostrará un formulario con los datos que podemos editar. Una vez editados los datos deseados, enviaremos el formulario y seremos redirigidos al perfil.
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingSixteen">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSixteen" aria-expanded="false" aria-controls="collapseSixteen">
                        Crear/Editar un tema
                    </a>
                </h4>
            </div>
            <div id="collapseSixteen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSixteen">
                <div class="panel-body">
                    <p>En el lateral (en la parte de abajo del foro para la versión responsive) de los foros encontraremos un botón para crear un nuevo tema/oferta/cupón, etc, haciendo clic sobre él se nos mostrará un formulario que debemos rellenar y enviar.</p>
                    <p>Estando en uno de nuestros temas, haremos clic sobre el símbolo de un engranaje que vemos arriba a la derecha en nuestro tema. Se desplegará un menú con la opción Editar sobre la cual debemos hacer clic. Una vez hecho se nos mostrará el formulario de edición del tema. Una vez modificados los campos que deseemos debemos hacer clic sobre el botón Editar Tema que nos devolverá al tema editado.</p>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingSeventeen">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeventeen" aria-expanded="false" aria-controls="collapseSeventeen">
                        Finalizar un tema
                    </a>
                </h4>
            </div>
            <div id="collapseSeventeen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeventeen">
                <div class="panel-body">
                    Estando en uno de nuestros temas, haremos clic sobre el símbolo de un engranaje que vemos arriba a la derecha en nuestro tema. Se desplegará un menú con la opción Finalizado sobre la cual debemos hacer clic. Una vez hecho se nos mostrará un mensaje para confirmar la acción y una vez aceptado, un mensaje informando del resultado de la operación. Para dar por no finalizado un tema es exactamente igual pero en vez de la opción Finalizar debemos elegir la opción No Finalizado.
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingEighteen">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEighteen" aria-expanded="false" aria-controls="collapseEighteen">
                        Votar un tema
                    </a>
                </h4>
            </div>
            <div id="collapseEighteen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEighteen">
                <div class="panel-body">
                    <p>Estando en un foro con temas susceptibles de ser votados (ofertas, cupones, artículos gratuitos) o dentro del propio tema a votar, debemos presionar en el botón con el símbolo + si queremos votarla positivamente o el botón con el símbolo – si queremos votarla negativamente.</p>
                    <p>Una vez votado los botones se deshabilitarán y no se podrá votar más, lo mismo pasará con los mensajes que estén finalizados o cerrados.</p>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingNineteen">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseNineteen" aria-expanded="false" aria-controls="collapseNineteen">
                        Crear/editar mensaje
                    </a>
                </h4>
            </div>
            <div id="collapseNineteen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNineteen">
                <div class="panel-body">
                    <p>En la parte inferior del tema en el que queremos crear un mensaje de respuesta veremos un recuadro, debemos escribir en él nuestro mensaje. Una vez hecho, debemos hacer clic sobre Responder y seremos redirigidos al mensaje creado.</p>
                    <p>En la parte superior derecha del mensaje que queremos editar veremos un botón con el dibujo de un engranaje, para desplegar las opciones debemos hacer clic sobre él. Veremos la opción Editar sobre la cual debemos hacer clic, acto seguido se nos mostrará un formulario con el campo del mensaje a editar, una vez editado hacemos clic sobre Editar.</p>
                </div>
            </div>
        </div>


        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwenty">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwenty" aria-expanded="false" aria-controls="collapseTwenty">
                        Uso de Bbcodes y Smilies
                    </a>
                </h4>
            </div>
            <div id="collapseTwenty" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwenty">
                <div class="panel-body">
                    <p>Los Bbcodes son etiquetas que sirven para formatear mensajes, de tal manera que pueda incluir texto en negrita, cursiva, incrustar imágenes o videos, etc. Al crear mensajes podemos ver en la parte superior unos botones, pasando por encima de ellos el ratón tendremos instrucciones de uso. Si seleccionamos un texto y pulsamos por ejemplo el botón de texto en negrita, automáticamente se añadirán los bbcodes delante y detrás del texto seleccionado.</p>
                    <p>A continuación un listado de los Bbcodes y un ejemplo de uso:</p>
                    <ul>

                        <li>Texto en negrita:
                            <pre>[b]Texto en negrita[/b]</pre>
                        </li>


                        <li>Texto en cursiva
                        <pre>[i]Texto en cursiva[/i]</pre>
                        </li>

                        <li>Texto subrayado
                        <pre>[u]Texto subrayado[/u]</pre>
                        </li>

                        <li>Texto subrayado y centrado
                        <pre>[center][u]Texto subrayado y centrado[/u][/center]</pre>
                        </li>

                        <li>Texto negrita y centrado
                        <pre>[center][b]Texto negrita y centrado[/b][/center]</pre>
                        </li>

                        <li>Texto cursiva y centrado
                        <pre>[center][i]Texto negrita y centrado[/i][/center]</pre>
                        </li>

                        <li>Texto subrayado, negrita y cursiva
                        <pre>[i][b][u]bbcode[/u][/b][/i]</pre>
                        </li>

                        <li>Texto subrayado, negrita, cursiva y centrado
                        <pre>center][i][b][u]bbcode[/u][/b][/i][/center]</pre>
                        </li>

                        <li>URL negrita, subrayada cursiva y centrada
                        <pre>[url=][center][i][b][u]www.google.es[/u][/b][/i][/center][/url]</pre>
                        </li>

                        <li>URL utilizando el bbcode [url]
                        <pre>[url]http://ieeesb-uniovi.es/wp-content/uploads/2013/12/Logo_EPIG.jpg[/url]</pre>
                        </li>

                        <li>URL utilizando el bbcode [url] y negrita
                        <pre>[url=][b]www.google.es[/b][/url]</pre>
                        </li>

                        <li>Bbcode [url] con título subrayado
                        <pre>[url=www.google.es][u]ENLACE[/u][/url]</pre>
                        </li>

                        <li>Bbcode [url] con título subrayado, negrita, cursiva y centrado
                        <pre>[url=www.google.es][i][b][u]ENLACE[/u][/b][/i][/url]</pre>
                        </li>

                        <li>Insertar imagen
                        <pre>[img]http://ieeesb-uniovi.es/wp-content/uploads/2013/12/Logo_EPIG.jpg[/img]</pre>
                        </li>

                        <li>Insertar video de youtube o vimeo
                        <pre>[video]http://youtu.be/teFjDLAKBLY[/video]</pre>
                        <pre>[video]vimeo.com/2534792[/video]</pre>
                        </li>

                        <li>Incrustar imagen con enlace
                        <pre>[url=ENLACE][img]IMAGEN[/img][/url]</pre>
                        <pre>[url=http://www.google.es][img]http://ieeesb-uniovi.es/wp-content/uploads/2013/12/Logo_EPIG.jpg[/img][/url]</pre>
                        </li>

                        <li>Centrar imagen incrustada
                        <pre>[center][img]http://ieeesb-uniovi.es/wp-content/uploads/2013/12/Logo_EPIG.jpg[/img][/center]</pre>
                        </li>

                        <li>Spoiler (texto oculto)
                        <pre>[spoiler]Texto Oculto[/spoiler]</pre>
                        </li>

                        <li>Spoiler con titulo
                        <pre>[spoiler=Título Spoiler]Texto Oculto[/spoiler]</pre>
                        </li>

                        <li>Títulos (texto más grande)
                        <pre>[title]Titular[/title]</pre>
                        </li>

                    </ul>

                    <p>Además el usuario puede insertar smiles (emoticonos, caritas) pero es aconsejable utilizar el menú que se desplegará al pulsar el botón que está sobre el campo para introducir el texto del mensaje. Una vez desplegado, simplemente tenemos que pulsar sobre el smilie deseado y automáticamente se introducirá en el cuadro de texto.</p>
                </div>
            </div>
        </div>


        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwentyone">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwentyone" aria-expanded="false" aria-controls="collapseTwentyone">
                        Marcar un tema como favorito
                    </a>
                </h4>
            </div>
            <div id="collapseTwentyone" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwentyone">
                <div class="panel-body">
                    Para marcar como favorito un tema simplemente hay que pulsar sobre el botón con una estrella que encontraremos en el primer mensaje del tema.
                </div>
            </div>
        </div>


        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwentytwo">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwentytwo" aria-expanded="false" aria-controls="collapseTwentytwo">
                        Aviso de notificaciones sin leer
                    </a>
                </h4>
            </div>
            <div id="collapseTwentytwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwentytwo">
                <div class="panel-body">
                    Si tuviésemos alguna notificación sin leer por cita, firma, moderación, o nuevos mensajes en nuestros favoritos, entre otras notificaciones, podremos ver un signo de exclamación indicando su existencia.
                </div>
            </div>
        </div>

        </div>





    </div>
{% endblock %}

    {% block extraScripts %}
        {% javascripts
        '@forum_js'

        output="js/forum_js.js" %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock extraScripts %}


