{% extends '::frontend.html.twig' %}

{% block title %}
    Contacto
{% endblock %}
    
{% block id 'contact_form' %}

    {% block content %}
        <div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2">
                <h1 class="form-title"><span>></span> {{ block('title') }}</h1>

                <form action="{{ path('forum_contact_page') }}" class="form-horizontal" role="form"
                      method="post" {{ form_enctype(contactForm) }}>
                    <fieldset>
                        <legend>Datos del mensaje</legend>
                        {{ form_widget(contactForm) }}

                        {{ form_javascript(contactForm) }}

                        {% if contactForm.captcha.vars.errors | length > 0 %}
                            <div class="form-group has-error">
                                {{ form_label(contactForm.captcha) }}
                                <div class="col-xs-10 col-sm-7">
                                    {{ form_widget(contactForm.captcha) }}
                                    {% if contactForm.captcha.vars.errors | length > 0 %}
                                        <span class="help-block">No ha introducido correctamente el texto del Captcha</span>
                                    {% endif %}
                                </div>
                            </div>
                        {% else %}
                            {{ form_widget(contactForm.captcha) }}
                            {{ form_errors(contactForm.captcha) }}
                        {% endif %}

                        {{ form_rest(contactForm) }}

                        <div class="form-actions">
                            <button type="submit" class="btn btn-primary" name="enviar">Enviar</button>
                            <a href="{{ path('forum_front_page') }}" class="btn btn-danger pull-right">Cancelar</a>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>

    {% endblock %}

    {% block extraScripts %}
        {% javascripts
        '@forum_js'

        output="js/forum_js.js" %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock extraScripts %}
