{% extends '::frontend.html.twig' %}

{% block title %}
    Normas
{% endblock %}
    
{% block id 'rules' %}

    {% block content %}
        <div class="col-md-10 col-md-offset-1 bigger-text">

            <h3>  <span class="tertiary-text-color">></span> Normas</h3>

            <img src="{{ asset('bundles/forum/images/logos/deerlogolarge_red.png') }}" class="img-responsive center-element" alt="logo-deal-hunt">

            <br>

            <p>En este apartado podrás encontrar las normas que debes cumplir:</p>

            <ul>
                <li>La primera y más  importante, usa el sentido común que algo no este literalmente escrito en este apartado no significa que este permitido.</li>
                <li>No está permitido  el SPAM.</li>
                <li>No está permitido el uso de referidos.</li>
                <li>No están permitidos los insultos ni las faltas de respeto.</li>
                <li>No están permitidos los trolleos.</li>
                <li>No está permitida la difusión de contenido pirata.</li>
                <li>El uso abusivo del spoiler será penalizado.</li>
                <li>No contestes a un tema si no tienes nada que decir.</li>
            </ul>
        </div>
    {% endblock %}

    {% block extraScripts %}
        {% javascripts
        '@forum_js'

        output="js/forum_js.js" %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock extraScripts %}