{% extends '::frontend.html.twig' %}

{% block title %}
    Privacidad
{% endblock %}
    
{% block id 'privacy' %}

    {% block content %}
        <div class="col-md-10 col-md-offset-1">

            <h3>  <span class="tertiary-text-color">></span> Privacidad</h3>

            <img src="{{ asset('bundles/forum/images/logos/deerlogolarge_red.png') }}" class="img-responsive center-element" alt="logo-deal-hunt">

            <br>

            <p class="bigger-text">DealHunt solo utiliza los datos necesarios para el buen funcionamiento de la aplicación web.</p>
        </div>
    {% endblock %}

    {% block extraScripts %}
        {% javascripts
        '@forum_js'

        output="js/forum_js.js" %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock extraScripts %}