{% extends '::frontend.html.twig' %}

{% block title %}
    Sobre Nosotros
{% endblock %}
    
{% block id 'aboutus' %}

{% block content %}
    <div class="col-md-10 col-md-offset-1">

        <h3>  <span class="tertiary-text-color">></span> Sobre nosotros</h3>

        <img src="{{ asset('bundles/forum/images/logos/deerlogolarge_red.png') }}" class="img-responsive center-element" alt="logo-deal-hunt">

        <br>

        <p class="bigger-text">
            El proyecto <span class="primary-text-color">Deal Hunt</span> es una comunidad que llega para llenar el hueco que otras páginas como blogs o foros
            convencionales no pueden llenar, una forma diferente de compartir ofertas, cupones, etc, valorarlas y
            comentarlas con herramientas que faciliten esta tarea.
        </p>

         <p class="bigger-text">
             Esta aplicación web además ha sido parte de un <span class="primary-text-color">proyecto de final de carrera</span> en el que se buscaba conocer
             mas y mejor las tecnologías web mas utilizadas como <span class="primary-text-color">PHP, MySQL, Javascript (Jquery), etc</span>, pero sobre todo
             para aprender a manejar uno de los frameworks PHP mas populares, <span class="primary-text-color">Symfony</span>.
         </p>
    </div>
{% endblock %}

    {% block extraScripts %}
        {% javascripts
        '@forum_js'

        output="js/forum_js.js" %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock extraScripts %}