{% extends '::frontend.html.twig' %}

{% block title %}
    Nuevo mensaje - {{ topic.title }}
{% endblock %}

{% block id 'reply' %}

    {% block content %}

        <div id="reply-form">

            <h1 class="form-title"><span>></span> {{ topic.title }}</h1>

            <form action="{{ path('post_new_post', {'forumSlug': forumSlug, 'topicSlug': topic.slug, 'topicId': topic.id}) }}" class="form-horizontal" role="form" method="post" {{ form_enctype(form) }} novalidate>

                {% include '@Post/Default/includes/replyFormContent.html.twig' with {'legend': 'Escribir respuesta'} %}

                <button type="submit" class="btn btn-primary" name="reply">Responder</button>
                <a href="{{ path('topic_show_topic_page', {'forumSlug': topic.forum.slug , 'topicSlug': topic.slug, 'topicId': topic.id } ) }}" class="btn btn-danger pull-right">Cancelar</a>
            </form>
        </div>

    {% endblock %}

    {% block extraScripts %}
        {% javascripts
        '@reply_js'

        output="js/reply_js.js"

        %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock extraScripts %}