{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}
    Login
{% endblock title %}

{% block id 'login' %}

{% block fos_user_content %}
    <div class="row">
        <div class="col-xs-10 col-sm-6 col-md-4 col-xs-offset-1 col-sm-offset-3 col-md-offset-4">

            <h1 class="form-title"><span>></span> {{ block('title') }}</h1>

            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <form role="form" action="{{ path('fos_user_security_check') }}" method="post">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                <div class="form-group">
                    <label for="username">{{ 'security.login.username'|trans }}</label>
                    <input type="text" class="form-control" id="username" placeholder="Introduce tu usuario" name="_username" value="{{ last_username }}" required="required">
                </div>
                <div class="form-group">
                    <label for="password">{{ 'security.login.password'|trans }}</label>
                    <input type="password" class="form-control" id="password" placeholder="Introduce tu contrase&ntilde;a" name="_password" required="required" >
                </div>
                <div class="checkbox">
                    <label for="remember_me">
                        <input type="checkbox" id="remember_me" name="_remember_me" checked> {{ 'security.login.remember_me'|trans }}
                    </label>
                </div>

                    <input type="hidden" name="_target_path" value="{{ app.session.get('requestedPage') }}" />

                <button type="submit" id="_submit" name="_submit" class="btn btn-primary"><span class="glyphicon glyphicon-user"></span> Entrar</button>
                <a href="{{ path('fos_user_registration_register') }}" role="button" class="btn btn-danger"><span class="glyphicon glyphicon-pencil"></span> Reg&iacute;strate</a>
            </form>

            <a href="{{ path('fos_user_resetting_request') }}" class="link">¿Has olvidado tu contraseña?</a>

        </div>
    </div>
{% endblock fos_user_content %}
