{% for message in app.session.flashbag.get('info') %}
    <div class="alert alert-info alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <span class="fa fa-info-circle"></span> {{ message }}
    </div>
{% endfor %}

{% for message in app.session.flashbag.get('success') %}
    <div class="alert alert-success alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <span class="fa fa-check-circle"></span> {{ message }}
    </div>
{% endfor %}

{% for message in app.session.flashbag.get('error') %}
    <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <span class="fa fa-exclamation-triangle"></span> {{ message }}
    </div>
{% endfor %}