<div id="footer-links" class="col-xs-12 col-md-6">
    <h3>// Enlaces de interés:</h3>
    <ul class="list-inline">
        <li><a href="{{ path('forum_front_page') }}">Portada</a></li>
        <li><a href="{{ path('forum_static_page', {'pageSlug': 'ayuda'} ) }}">Ayuda</a></li>
        <li><a href="{{ path('forum_static_page', {'pageSlug': 'contacto'} ) }}">Contacto</a></li>
        <li><a href="{{ path('forum_static_page', {'pageSlug': 'privacidad'} ) }}">Privacidad</a></li>
    </ul>

    <ul class="list-inline">
        <li><a href="{{ path('forum_static_page', {'pageSlug': 'normas'} ) }}">Normas</a></li>
        <li><a href="{{ path('forum_static_page', {'pageSlug': 'sobre-nosotros'} ) }}">Sobre nosotros</a></li>
    </ul>

    &copy; {{ 'now' | date('Y') }} - DealHunt
</div>

<div id="social-links" class="col-xs-12 col-md-6">
    <h3>// Redes sociales:</h3>
    <ul class="list-inline">
        <li>
            <a href="https://twitter.com/dealhuntproject" class="twitter-logo">
                <span class="fa-stack">
                  <span class="fa fa-square fa-stack-1x"></span>
                  <span class="fa fa-twitter-square fa-stack-1x"></span>
                </span>
            </a>
        </li>
        <li>
            <a href="https://es-es.facebook.com/people/Deal-Hunt/100009071728474" class="facebook-logo">
                <span class="fa-stack">
                  <span class="fa fa-square fa-stack-1x"></span>
                  <span class="fa fa-facebook-square fa-stack-1x"></span>
                </span>
            </a>
        </li>
        <li>
            <a href="https://plus.google.com/101986788696341256685/about" class="gplus-logo">
                <span class="fa-stack">
                  <span class="fa fa-square fa-stack-1x"></span>
                  <span class="fa fa-google-plus-square fa-stack-1x"></span>
                </span>
            </a>
        </li>
    </ul>

</div>