<ul class="nav navbar-nav">

    {% set loopIndex = 0 %}
    {% for forum in forums if (loopIndex < 3)  %}

        {% if (forum.forumTopicsType ==  'Topic') or (forum.forumTopicsType == 'TopicWithTags') %}
            {% set criterionSlug = 'recientemente-comentados' %}
        {% else %}
            {% set criterionSlug = 'mas-votados' %}
        {% endif %}

        {% if is_granted('ROLE_ACCESS_FORUM', forum)  %}
            <li class="{% if forumSlug == forum.slug %}active{% endif %}"><a href="{{ path('forum_show_topics_ordered_by', {'forumSlug': forum.slug, 'criterionSlug': criterionSlug } ) }}">{{ forum.name }}</a></li>
        {% endif %}

        {% set loopIndex = loopIndex + 1 %}

    {% endfor %}

    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Otros <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">

            {% for forum in forums if (loopIndex >= 3)  %}

                {% if (forum.forumTopicsType ==  'Topic') or (forum.forumTopicsType == 'TopicWithTags') %}
                    {% set criterionSlug = 'recientemente-comentados' %}
                {% else %}
                    {% set criterionSlug = 'mas-votados' %}
                {% endif %}

                {% if (loop.index0 >= 3) and  is_granted('ROLE_ACCESS_FORUM', forum)%}
                    <li class="{% if forumSlug == forum.slug %}active{% endif %}"><a href="{{ path('forum_show_topics_ordered_by', {'forumSlug': forum.slug, 'criterionSlug': criterionSlug } ) }}">{{ forum.name }}</a></li>
                {% endif %}

                {% set loopIndex = loopIndex + 1 %}
            {% endfor %}
        </ul>
    </li>
</ul>
