{% if forumSlug is not defined %}
    {% set forumSlug = 'null' %}
{% endif %}

{% if criterionSlug is not defined %}
    {% set criterionSlug = 'mas-votados' %}
{% endif %}

<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="row">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span id="bars">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </span>
                </button>
                <img src="{{ asset('bundles/forum/images/logos/deerlogo.png') }}" class="pull-left" alt="logo">
                <a class="navbar-brand" href="{{ path('forum_front_page') }}">Deal Hunt</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-navbar-collapse">

                {{ render(controller('ForumBundle:Default:showForumsNavList', { 'forumSlug': forumSlug })) }}



                <ul class="nav navbar-nav navbar-right">

                    {% if is_granted('ROLE_USER')  %}
                        {{ render(controller('UserBundle:Profile:showUserControlPanel')) }}

                    {% else %}

                        {{ render(controller('UserBundle:Default:customLogin')) }}

                        <li>
                            <a href="{{ path('fos_user_registration_register') }}"><span class="glyphicon glyphicon-pencil"></span> Regístrate</a>
                        </li>

                    {% endif %}

                    <li>
                        <a id="nav-search-button" ><span class="glyphicon glyphicon-search"></span></a>
                    </li>
                </ul>

            </div><!-- /.navbar-collapse -->
            <div id="nav-search" class="hidden-content">
                {{ render(controller('ForumBundle:Default:renderSearchForm')) }}
            </div>

        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</nav>
