{% if type == 'avanzado' %}
    <button id="search-param-button" type="button" class="btn btn-primary btn-block">PARÁMETROS DE BÚSQUEDA <span class="glyphicon glyphicon-chevron-down"></span></button>
{% endif %}

<form {% if type == 'avanzado' %}id="search-param"{% endif %} class="form-horizontal {% if type == 'avanzado' %}well hidden-content{% endif %}" action="{{ path('forum_search_form', {'type': type}) }}" role="search" method="post" {{ form_enctype(searchForm) }}>

    {{ form_widget(searchForm) }}
    {{ form_errors(searchForm) }}
    {{ form_row(searchForm.searchTerm) }}
    {{ form_rest(searchForm) }}

    <button type="submit" class="btn {% if type != 'basico-cabecera' %}btn-danger{% else %} btn-default {% endif %} btn-block "><span class="glyphicon glyphicon-search"></span></button>
</form>
