/****************************
** FORUM LESS-CSS
****************************/

//En este fichero less tengo todos los estilos que se van a utilizar para mostrar los foros

/* VARIABLES */
@import '../../../../../../app/Resources/public/less/variables.less';


/* MIXINS */
.primary-button(){
  color: @secondary-color;
  background-color: @primary-color;
  -webkit-transition: @transition-ease;
  -moz-transition: @transition-ease;
  -o-transition: @transition-ease;
  -ms-transition: @transition-ease;
  transition: @transition-ease;
}

.lighten-primary-button(){
  color: @secondary-color;
  background-color: lighten(@primary-color, 10%);
  -webkit-transition: @transition-ease;
  -moz-transition: @transition-ease;
  -o-transition: @transition-ease;
  -ms-transition: @transition-ease;
  transition: @transition-ease;
}

.darken-secondary-button(){
  color: @tertiary-color;
  background-color: darken(@secondary-color, 10%);
  -webkit-transition: @transition-ease;
  -moz-transition: @transition-ease;
  -o-transition: @transition-ease;
  -ms-transition: @transition-ease;
  transition: @transition-ease;
}

.tertiary-button(){
  .primary-button();
  color: @secondary-color;
  background-color: @tertiary-color;
}

.darken-tertiary-button(){
  .primary-button();
  color: @secondary-color;
  background-color: darken(@tertiary-color, 20%);
}

.secondary-button(){
  .primary-button();
  color: @tertiary-color;
  background-color: @secondary-color;
}

.votes-text(@weight: bold, @size: @font-size-base * 4, @color: @tertiary-color){
  font-weight: @weight;
  font-size: @size;
  color: @color;
}

/* SELECTORES */

.primary-text-color{
  color: @primary-color;
}

.tertiary-text-color{
  color: @tertiary-color;
}

.navigation{
  text-align: center;
}

h2.results-title{
  font-size: @font-size-base * 1.5;
}

// Selector de categorías y criterios de organización
.selector {
  margin-bottom: 15px;

  & .dropdown-menu-right{
    right: 15px;
  }

  &  li a{
    .secondary-button();
    border: 1px solid @border-color;
  }

  & .nav-pills > li.active a,
  & .btn,
  & .open > .btn
  {
    .darken-tertiary-button();
  }

  li a:hover,
  li a:focus,
  li a:active{
    .tertiary-button();
  }

  & .btn {
    padding: 10px 12px;
  }


  // Colapsado
  & .cat-crit-collapsed{
    padding-left: 9px;
    padding-right: 9px;
  }

  & .cat-crit-collapsed .container-fluid{
    .tertiary-button();
  }

  & .cat-crit-collapsed li{
    border: 1px solid @quaternary-color;
  }

  & .cat-crit-collapsed li > a{
    .secondary-button();
    line-height: 40px;
    font-size: @font-size-base * 1.2;
  }

  & .cat-crit-collapsed li.active > a,
  & .cat-crit-collapsed li > a:hover,
  & .cat-crit-collapsed li > a:focus,
  & .cat-crit-collapsed li > a:active,
  {
    .primary-button();
  }

}


// Tema
.topic{

  // Título
  & h3{
    font-size: @font-size-base * 1.3;
  }

  & .finished{
    text-decoration: line-through;
  }

  // Enlaces
  & a {
    color: darken(@tertiary-color, 20%);
  }

  & .content a:hover,
  & .content a:focus,
  & .content a:visited ,
  & .content a:active,
  & .info a:hover,
  & .info a:focus,
  & .info a:active{
    color: lighten(@tertiary-color, 10%);
    text-decoration: none;
    cursor:pointer;
    cursor:hand;
  }

  // Imagen

  & .image {
    margin-bottom: 5px;
    min-height: 50px;
  }

  & .image img {
    // Arreglo para IE 10
    max-height: 104px;
    max-width: 104px;
  }

  & .image a {
    text-decoration: none;
    display: block;
  }

  & .image .glyphicon-link {
    font-weight: bold;
    font-size: @font-size-base *1.3;
    color: darken(@primary-color, 5%);
  }

  & .image a:hover,
  & .image a:focus,
  & .image a:visited,
  & .image a:active,
  {
    .glyphicon-link{
      color: lighten(@tertiary-color, 10%);
    }
  }

  & .img-thumbnail {
    border: none;
  }

  // Votos
  & .voting-buttons {
    padding-left: 2px;
    padding-right: 2px;
    margin-top: 30px;
    margin-bottom: 15px;
  }

  & .voting-buttons a.vote-button-positive  {
    color:@secondary-color;
    background-color: @tertiary-color;
    border: 1px solid @tertiary-color;
    line-height: 30px;
  }

  & .voting-buttons a.vote-button-negative {
    background-color:@secondary-color;
    color: @tertiary-color;
    border: 1px solid @tertiary-color;
    line-height: 30px;
  }

  & .voting-buttons a.vote-button-positive:hover,
  & .voting-buttons a.vote-button-positive:focus {
    .darken-secondary-button();
  }

  & .voting-buttons a.vote-button-negative:hover,
  & .voting-buttons a.vote-button-negative:focus {
    .tertiary-button();
  }

  & .popular-status{
    .votes-text(bold, @font-size-base * 4, @tertiary-color);
  }

  & .neither-status{
    .votes-text(bold, @font-size-base * 4, darken(@border-color, 15%));
  }

  & .not-popular-status{
    .votes-text(bold, @font-size-base * 4, @not-pop-color);
  }

  & .votes,
  & .image{
    line-height: 100px;
  }

  // Información (comentarios, páginas del tema, etc)

  & .info {
    margin-top: 10px;

    .glyphicon,
    .fa {
      color: @topic-info-gly-color;
    }

    & a.btn {
      .lighten-primary-button();
      .glyphicon,
      .fa {
        color: @secondary-color;
      }
    }

    & a.btn:hover,
    & a.btn:focus,
    & a.btn:active,
    {
      .darken-secondary-button();
    }

    .comments-pages{
      text-align: right;

      & > a {
        text-decoration: none;
      }
    }

  }

  & .info > div
  {
    padding-left: 9px;
    padding-right: 0px;
  }

  & .content,
  {
    padding-left: 9px;
    padding-right: 9px;
  }

  & .voting-buttons div:nth-child(2){
    padding-left: 0px;
    padding-right: 7px;
  }

  & .voting-buttons div:nth-child(1){
    padding-left: 7px;
    padding-right: 0px;
  }


  & .comments-pages{
    padding-left: 0px !important;
    padding-right: 9px !important;
  }

  & .creator-date a {
    display:block;
    text-decoration: none;
  }

  & .comments-pages,
  & .comments-pages .badge,
  {
    font-size: @font-size-base *1.45;
  }

  & .comments-pages .badge{
    background-color: @tertiary-color;
  }

  // Cupón descuento
  & .voucher,
  & .discount{
    line-height: @font-size-base * 2;
    color: @secondary-color;
    background-color: lighten(@primary-color, 10%);
    margin-top: 12px;
    font-size: @font-size-base * 1.2;
  }

  & .short-voucher:hover{
    cursor:pointer;
    cursor:hand;
  }

}


// Lateral del foro
aside {

  & .fa {
    font-size: @font-size-base *3;
    color: @primary-color;
    display: block;
    text-align: center;
    padding-top: 5px;
  }

  & .top-not-found {
    color: darken(@tertiary-color, 10%);
    padding: 7px;
    text-align: center;
  }

  & .panel-votes{
    color: @panel-votes-color;
  }

  & .bg-first {
    background-color: @panel-first-bg-color;
  }

  & .bg-second {
    background-color: @panel-second-bg-color;
  }

  & .btn{
    .primary-button();
    margin-bottom: 10px;
  }

  & .btn:hover {
    .secondary-button();
    border-color: @border-color;
  }

  & .panel-default > .panel-heading {
    color: @secondary-color;
    background-color: darken(@tertiary-color, 20%);
  }

  & .panel-body {
    padding: 0;
  }

  & .panel-body a {
    color: @panel-text-color;
    display: block;
    padding: 5px 2px;
    text-decoration: none;
  }

  & .panel-body a:hover,
  & .panel-body a:focus,
  {
    background-color: @panel-hover-bg-color;
  }

  & .panel-body a:visited{
    color: lighten(@panel-text-color, 10%);
  }
}

& .pagination span {
  display:block;
}

// Divider
hr.custom-divider {
  border: 0;
  height: 1px;
  background: darken(@border-color, 20%);
  margin: 15px 0;
}


// Media Queries
@media (min-width: 480px){

  .topic{

    & h3{
      font-size: @font-size-base * 1.45;
    }

    & .creator-date a {
      display:inline;
      margin-right: 5px;
    }

    & .comments-pages,
    .comments-pages .badge,
    {
      font-size: @font-size-base * 2.1;
    }

    & .creator-date a,
    {
      border-right: 1px solid @quaternary-color;
      padding-right: 3px;
    }

    & .creator-date {
      font-size: @font-size-base * 1.45;
    }
  }

}

@media (min-width: 768px){


  .topic{

    & .creator-date a {
      display:inline;
    }

    & .comments-pages,
    & .comments-pages .badge,
    & .creator-date,
    {
      font-size: @font-size-base * 1.3;
    }

    & .comments-pages a,
    & .creator-date a,
    {
      border-right: 1px solid @quaternary-color;
      padding-right: 3px;
      padding-left: 3px;
    }

    & .comments-pages a:last-of-type{
      border-right: none;
      padding-left: 3px;
    }

    & .message {
      font-size: @font-size-base * 1.15;
    }

    & .voting-buttons{
      margin-top: 12px;
      margin-bottom: 5px;
    }

    & .voting-buttons a.vote-button-positive,
    & .voting-buttons a.vote-button-negative  {
      line-height: 20px;
    }
  }


}

@media (min-width: 992px){


  .selector {
    & ul {
      margin-left: 15px;
    }
  }

  // Margen para temas normales
  .normal{
    margin-left: 15px;
  }

  h2.results-title{
    font-size: @font-size-base * 2;
  }


  .topic{

    & h3 {
      margin-top: 0;
      margin-bottom: 5px;
    }

    & .comments-pages .badge,
    & .message{
      font-size: @font-size-base * 1.1;
    }

    & .comments-pages,
    & .creator-date {
      font-size: @font-size-base * 1.1;
      height: 34px;
      line-height: 34px;
    }

    & .votes,
    & .image{
      line-height: 30px;
    }

    & .image{
      padding-right: 0px;
    }

    & .image img,
    & .voting-buttons,
    & .votes{
      padding: 0 !important;
    }


    & .voting-buttons div:nth-child(1){
      padding-left: 0px;
      padding-right: 0;
    }

    & .voting-buttons div:nth-child(1),
    & .voting-buttons div:nth-child(2){
      padding: 0;
    }

    & .voting-buttons{
      margin-top: 0;
      margin-bottom: 5px;
    }

    & .popular-status{
      .votes-text(bold, @font-size-base * 1.8, @tertiary-color);
    }

    & .neither-status{
      .votes-text(bold, @font-size-base * 1.8, darken(@border-color, 15%));
    }

    & .not-popular-status{
      .votes-text(bold, @font-size-base * 1.8, @not-pop-color);
    }
  }
}