{% set voteButtonState, expiredTopic = 'active', false  %}

{% if isVoted or topic.isClosed %}
    {% set voteButtonState = 'disabled' %}
{% endif %}

{% if topic.isExpired or ( date(topic.dateEnd) < date('today')) %}
    {% set voteButtonState, expiredTopic = 'disabled', true  %}
{% endif %}

<div id="topic-{{ topic.id }}" class="row first-post">

    <div class="content col-xs-12 col-sm-12 col-md-10 col-lg-10 col-md-push-2 col-lg-push-2">
        <h3 {% if expiredTopic %}class="finished"{% endif %}>{{ topic.title }} {% if topic.isClosed %} <span class="glyphicon glyphicon-lock"></span>{% endif %}</h3>

        <div class="row info-options">

            <div class="number col-xs-2 col-sm-3 {% if is_granted('ROLE_USER') %}col-xs-push-8 col-sm-push-8{% else %}col-xs-push-10 col-xs-push-9{% endif %}">
                <a href="{{ path('topic_show_topic_page', {'forumSlug': topic.forum.slug, 'topicSlug': topic.slug, 'topicId': topic.id, 'pageNumber':  pageNumber } ) }}#{{ firstPost.number }}" id="{{ firstPost.number }}" class="post-number" title="post número {{ firstPost.number }}">#{{ firstPost.number }}</a>
            </div>

            <div class="date-avatar-mini col-xs-8 col-sm-8 col-xs-pull-2 col-sm-pull-3">
                <div class="col-xs-4 avatar-mini">
                    {% if not firstPost.poster.locked %}
                        <img src="{{ asset('uploads/images/avatar/' ~ firstPost.poster.avatarName) | imagine_filter('avatar_topic_mini') }}" {% if firstPost.poster.lastActivity | isUserOnline %}class="online-mini" title="Online" {% endif %} alt="Avatar">
                    {% endif %}
                </div>

                <a {% if firstPost.poster.locked %} class="banned" {% elseif firstPost.poster.getHighestRole == 'ROLE_MODERATOR' %} class="moderator"  {% elseif firstPost.poster.getHighestRole == 'ROLE_ADMIN' %} class="administrator" {% endif %} href="{{ path('user_profile', {'userName': firstPost.poster.username } ) }}" title="perfil de {{ firstPost.poster.username }}">{{ firstPost.poster.username }}</a>

                <span class="date-mini">
                <span class="hidden-xs hidden-sm">{{ firstPost.postingDate | postingDate }}</span>
                <span class="hidden-md hidden-lg">{{ firstPost.postingDate | postingDate('postMini') }}</span>
                    {% if firstPost.editDate != NULL %}
                        <span class="glyphicon glyphicon-pencil" data-toggle="tooltip" data-placement="top" title="Editado: {{ firstPost.editDate | postingDate }}"></span>
                    {% endif %}
                </span>
            </div>

            <div class="options col-xs-2 col-sm-1 col-md-1">
                {% include '@Post/Default/includes/firstPostOptions.html.twig' with  { 'post': firstPost } %}
            </div>

        </div>

        <div class="row message">
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                <div>
                    {{ firstPost.message | firstTopicPostBbcodes | quotes(firstPost.topic.id) | nl2br}}
                </div>

                <div class="voucher text-center col-xs-10 col-sm-4 col-md-4 col-lg-4 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">

                    {% if topic.voucher|length < 11 %}
                        <span class="fa fa-scissors"></span>
                        {{ topic.voucher | upper }}

                    {% else %}
                        <span class="fa fa-scissors short-voucher"></span>
                        <span title="click en las tijeras para mostrar el Cupón">
                        {{ topic.voucher | truncate(9) }}
                    </span>
                        <span class="hidden-content">
                        {{ topic.voucher }}
                    </span>
                    {% endif %}
                </div>

                <div class="discount text-center col-xs-10 col-sm-4 col-md-4 col-lg-4 col-xs-offset-1 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
                    <span class="glyphicon glyphicon-chevron-down"></span>
                    {% if topic.voucherDiscount == null %}
                        -
                    {% else %}
                        {{ topic.voucherDiscount }}

                    {% endif %}
                </div>

            </div>

            <div class="extra-info col-xs-12 col-sm-12 col-md-3 col-lg-3">
                <div class="tags">
                    <span class="glyphicon glyphicon-tags" title="Etiquetas"></span> :
                    {% if tags is empty %}
                        -
                    {% else %}
                        {% for tag in tags %}
                            {% if not loop.last %}
                                <a href="{{ path( 'forum_show_forum_topics_by_tag', {'tagSlug': tag.slug, 'forumSlug': topic.forum.slug}) }}" title="etiqueta" target="_self">{{ tag.name }}</a>,
                            {% else %}
                                <a href="{{ path( 'forum_show_forum_topics_by_tag', {'tagSlug': tag.slug, 'forumSlug': topic.forum.slug}) }}" title="etiqueta" target="_self">{{ tag.name }}</a>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>

                <div class="shop">
                    <span class="glyphicon glyphicon-shopping-cart" title="Tienda"></span> :
                    {% if topic.shop is not empty %}
                        <a href="{{ path( 'forum_show_forum_topics_by_shop', {'shopSlug': topic.shop.slug, 'forumSlug': topic.forum.slug}) }}" title="Tienda del producto" target="_self">{{ topic.shop.name }}</a>
                    {% else %}
                        -
                    {% endif %}

                </div>

                <div class="start-end-dates">
                    {% if topic.dateStart == null %}
                        {% set dateStart, dateEnd = '-', '-' %}

                    {% else %}
                        {% set dateStart, dateEnd = topic.dateStart | date("d/m/Y"), topic.dateEnd | date("d/m/Y") %}

                    {% endif %}

                    <span class="fa fa-calendar" title="Fecha de inicio"> : {{ dateStart }}</span>

                    <span class="fa fa-calendar-o" title="Fecha de finalización"> : {{ dateEnd }}</span>
                </div>

                <div class="voucher-extras">
                    <span class="fa fa-money" title="Gasto mínimo"> :
                        {% if topic.voucherMinimum == null %}
                            -
                        {% else %}
                            {{ topic.voucherMinimum }}
                        {% endif %}
                    </span>
                </div>

                <div class="social">
                    {% set topicUrl =  url('topic_show_topic', {'forumSlug': topic.forum.slug, 'topicSlug': topic.slug, 'topicId': topic.id  }) %}

                    <ul class="list-inline">
                        <li><a href="https://www.facebook.com/sharer/sharer.php?u={{ topicUrl }}&amp;t={{ topic.title | escape('url') }}" target="_blank" title="Compartir en Facebook"><span class="fa fa-facebook"></span></a></li>
                        <li><a href="https://twitter.com/intent/tweet?source={{ topicUrl }}&amp;text={{ topic.title | escape('url') }}:%20{{ topicUrl }}&amp;via=dealhuntproject" target="_blank" title="Tweet"><span class="fa fa-twitter"></span></a></li>
                        <li><a href="https://plus.google.com/share?url={{ topicUrl }}" target="_blank" title="Compartir en Google+"><span class="fa fa-google-plus"></span></a></li>
                    </ul>
                </div>

                <div class="favorite">
                    {% if isFavorite == 0 %}
                        <a id="favorite-unfavorite-button" data-path="{{ path('topic_ajax_favorite_topic') }}" data-topicid="{{ topic.id }}" data-markas="favorite" class="btn btn-block" role="button" title="Marcar como favorito este tema"><span class="glyphicon glyphicon-star-empty"></span></a>
                    {% elseif isFavorite == 1 %}
                        <a id="favorite-unfavorite-button" data-path="{{ path('topic_ajax_favorite_topic') }}" data-topicid="{{ topic.id }}" data-markas="unfavorite" class="btn btn-block" role="button" title="des-marcar como favorito este tema"><span class="glyphicon glyphicon-star"></span></a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="image-votes col-xs-12 col-sm-12 col-md-2 col-lg-2 col-md-pull-10 col-lg-pull-10">

        <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12 image">
            <a href="{{ topic.url }}" target="_blank">
                <img src="{{ asset('uploads/images/topic/' ~ topic.topicImageName) | imagine_filter('image_topic') }}" class="img-responsive img-thumbnail" alt="Imagen del tema">
                <span class="btn-block glyphicon glyphicon-link hidden-md hidden-lg"></span>
            </a>

        </div>

        <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12 votes">
            <span class="{% if topic.votes >= getGlobalVariables().getMinVotesToBePop %}popular-status{% elseif topic.votes < 0 %}not-popular-status{% else %}neither-status{% endif %}">{{ topic.votes }}</span>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 voting-buttons">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <a data-path="{{ path('topic_ajax_vote_topic') }}" data-topicid="{{ topic.id }}" data-topictype="{{ forumTopicsType }}" class="vote-button-positive btn btn-primary btn-block {{ voteButtonState }}" role="button" title="Voto positivo"><span class="glyphicon glyphicon-plus"></span></a>
            </div>

            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <a data-path="{{ path('topic_ajax_vote_topic') }}" data-topicid="{{ topic.id }}"  data-topictype="{{ forumTopicsType }}" class="vote-button-negative btn btn-primary btn-block {{ voteButtonState }}" role="button" title="Voto negativo"><span class="glyphicon glyphicon-minus"></span></a>
            </div>


            <div class="col-md-12 col-lg-12 link hidden-xs hidden-sm">
                <a href="{{ topic.url }}" target="_blank" class="btn btn-block" role="button"><span class="glyphicon glyphicon-link"></span> Enlace</a>
            </div>
        </div>


    </div>

</div>