<div id="topic-{{ topic.id }}" class="row first-post post odd-element">

    <div class="col-xs-12 col-md-10 col-md-offset-2"><h3>{{ topic.title }} {% if topic.isClosed %} <span class="glyphicon glyphicon-lock"></span>{% endif %}</h3></div>


    <div class="poster col-xs-2 hidden-xs hidden-sm">
        <a href="{{ path('user_profile', {'userName': firstPost.poster.username } ) }}" {% if firstPost.poster.locked %} class="banned" {% elseif firstPost.poster.getHighestRole == 'ROLE_MODERATOR' %} class="moderator"  {% elseif firstPost.poster.getHighestRole == 'ROLE_ADMIN' %} class="administrator" {% endif %} title="perfil de {{ firstPost.poster.username }}">
            {{ firstPost.poster.username }}
        </a>

        {% if not firstPost.poster.locked %}<img src="{{ asset('uploads/images/avatar/' ~ firstPost.poster.avatarName) | imagine_filter('avatar_topic') }}" alt="Avatar">{% endif %}

        {% if firstPost.poster.lastActivity | isUserOnline %}
            <span class="glyphicon glyphicon-off online"> online</span>
        {% endif %}
    </div>

    <div class="content col-xs-12 col-md-10">


        <div class="row info-options">

            <div class="number col-xs-2 col-sm-3 {% if is_granted('ROLE_USER') %}col-xs-push-8 col-sm-push-8{% else %}col-xs-push-10 col-xs-push-9{% endif %}">
                <a href="{{ path('topic_show_topic_page', {'forumSlug': topic.forum.slug, 'topicSlug': firstPost.topic.slug, 'topicId': firstPost.topic.id, 'pageNumber':  pageNumber } ) }}#{{ firstPost.number }}" id="{{ firstPost.number }}" class="post-number" title="post número {{ firstPost.number }}">
                    #{{ firstPost.number }}
                </a>
            </div>

            <div class="date-avatar-mini col-xs-8 col-sm-8 col-xs-pull-2 col-sm-pull-3">
                <div class="col-xs-4 avatar-mini hidden-md hidden-lg">
                    {% if not firstPost.poster.locked %}
                        <img src="{{ asset('uploads/images/avatar/' ~ firstPost.poster.avatarName) | imagine_filter('avatar_topic_mini') }}" {% if firstPost.poster.lastActivity | isUserOnline %}class="online-mini" title="Online" {% endif %} alt="Avatar">
                    {% endif %}
                </div>

                <a class="hidden-md hidden-lg {% if firstPost.poster.locked %} banned {% elseif firstPost.poster.getHighestRole == 'ROLE_MODERATOR' %} moderator  {% elseif firstPost.poster.getHighestRole == 'ROLE_ADMIN' %} administrator {% endif %}" href="{{ path('user_profile', {'userName': firstPost.poster.username } ) }}" title="perfil de {{ firstPost.poster.username }}">{{ firstPost.poster.username }}</a>

                <span class="hidden-xs hidden-sm">{{ firstPost.postingDate | postingDate }}</span>

                <span class="date-mini">
                <span class="hidden-md hidden-lg">{{ firstPost.postingDate | postingDate('postMini') }}</span>
                    {% if firstPost.editDate != NULL %}
                        <span class="glyphicon glyphicon-pencil" data-toggle="tooltip" data-placement="top" title="Editado: {{ firstPost.editDate | postingDate }}"></span>
                    {% endif %}
                </span>
            </div>

            <div class="options col-xs-2 col-sm-1">
                {% include '@Post/Default/includes/firstNormalPostOptions.html.twig' with {'post': firstPost } %}
            </div>

        </div>

        <hr>

        <div class="message">
            {{ firstPost.message | firstTopicPostBbcodes | quotes(firstPost.topic.id) | nl2br }}
        </div>

        <div class="row normal-extra-info">
            <div class="col-xs-12 col-md-2 favorite">
                {% if isFavorite == 0 %}
                    <a id="favorite-unfavorite-button" data-path="{{ path('topic_ajax_favorite_topic') }}" data-topicid="{{ topic.id }}" data-markas="favorite" class="btn btn-block" role="button" title="Marcar como favorito este tema"><span class="glyphicon glyphicon-star-empty"></span></a>
                {% elseif isFavorite == 1 %}
                    <a id="favorite-unfavorite-button" data-path="{{ path('topic_ajax_favorite_topic') }}" data-topicid="{{ topic.id }}" data-markas="unfavorite" class="btn btn-block" role="button" title="des-marcar como favorito este tema"><span class="glyphicon glyphicon-star"></span></a>
                {% endif %}
            </div>

            {% if topicHasTags %}
                <div class="tags col-xs-12 col-md-10">
                    <span class="glyphicon glyphicon-tags"></span> :
                    {% if tags is empty %}
                        -
                    {% else %}
                        {% for tag in tags %}
                            {% if not loop.last %}
                                <a href="{{ path( 'forum_show_forum_topics_by_tag', {'tagSlug': tag.slug, 'forumSlug': topic.forum.slug}) }}" title="etiqueta" target="_self">{{ tag.name }}</a>,
                            {% else %}
                                <a href="{{ path( 'forum_show_forum_topics_by_tag', {'tagSlug': tag.slug, 'forumSlug': topic.forum.slug}) }}" title="etiqueta" target="_self">{{ tag.name }}</a>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            {% endif %}
        </div>

    </div>
</div>