{% if is_granted('ROLE_USER') %}
        <div class="dropdown pull-right">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownFirstPostOptions" data-toggle="dropdown" aria-expanded="true">
                <span class="glyphicon glyphicon-cog"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownFirstPostOptions">
                {% if is_granted('ROLE_EDIT_TOPIC', topic)  %}
                    <li role="presentation">
                        <a href="{{ path('topic_edit_topic', {'forumSlug': topic.forum.slug, 'topicId': topic.id } ) }}" role="menuitem" tabindex="-1" title="Editar mensaje"><span class="glyphicon glyphicon-pencil"> Editar</span></a>
                    </li>
                {% endif %}

                <li role="presentation">
                    <a data-toggle="modal" data-target="#dialogReportModal" data-title="Reportar mensaje: {{ post.number }}" data-path="{{ path('post_ajax_report_post') }}" data-type="ajaxReportPost"  data-postid="{{ post.id }}" data-postnumber="{{ post.number }}" role="menuitem" tabindex="-1"><span class="glyphicon glyphicon-flag" title="Reportar Mensaje"> Reportar</span></a>
                </li>

                {% if is_granted('ROLE_MODERATOR') %}
                    <li role="presentation">
                        <a data-toggle="modal" data-target="#dialogModal" data-title="Borrar Tema" data-message="¿Está segur@ de que desea eliminar permanentemente este tema?" data-path="{{ path('topic_delete_topic', {'forumSlug': topic.forum.slug, 'topicId': topic.id} ) }}" role="menuitem" tabindex="-1"><span class="glyphicon glyphicon-remove" title="Borrar Tema"> Borrar</span></a>
                    </li>
                    <li role="presentation">
                        {% if post.poster.locked %}
                            <a class="ban-unban-button" data-toggle="modal" data-target="#dialogModal" data-title="Des-banear Usuario: {{ post.poster.username }}" data-path="{{ path('user_ajax_unban_user') }}" data-type="ajaxUnBanUser" data-message="¿Está segur@ de que desea desbanear al usuario {{ post.poster.username }}?" data-userid="{{ post.poster.id }}" data-username="{{ post.poster.username }}" data-postnumber="{{ post.number }}" role="menuitem" tabindex="-1"><span class="glyphicon glyphicon-ok-circle" title="Des-banear usuario"> Des-Banear</span></a>
                        {% else %}
                            <a class="ban-unban-button" data-toggle="modal" data-target="#dialogBanModal" data-title="Banear Usuario: {{ post.poster.username }}" data-path="{{ path('user_ajax_ban_user') }}" data-userid="{{ post.poster.id }}" data-username="{{ post.poster.username }}" data-postnumber="{{ post.number }}" role="menuitem" tabindex="-1"><span class="glyphicon glyphicon-ban-circle" title="Banear usuario"> Banear</span></a>
                        {% endif %}
                    </li>
                    <li role="presentation">
                        {% if topic.isclosed %}
                            <a class="close-open-button" data-toggle="modal" data-target="#dialogModal" data-title="Abrir Tema" data-path="{{ path('topic_ajax_close_open_topic') }}" data-type="ajaxTopicCloseOpen" data-message="¿Está segur@ de que desea abrir el tema?" data-topicid="{{ topic.id }}" data-action="open" role="menuitem" tabindex="-1"><span class="glyphicon glyphicon-lock" title="Abrir Tema"> Abrir</span></a>
                        {% else %}
                            <a class="close-open-button" data-toggle="modal" data-target="#dialogModal" data-title="Cerrar Tema" data-path="{{ path('topic_ajax_close_open_topic') }}" data-type="ajaxTopicCloseOpen" data-message="¿Está segur@ de que desea cerrar el tema?" data-topicid="{{ topic.id }}" data-action="close" role="menuitem" tabindex="-1"><span class="glyphicon glyphicon-lock" title="Cerrar Tema"> Cerrar</span></a>
                        {% endif %}
                    </li>
                {% endif %}
            </ul>

        </div>
{% endif %}