{% if is_granted('ROLE_USER') %}

    <div class="dropdown pull-right">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownPostOptions-{{ post.number }}" data-toggle="dropdown" aria-expanded="true">
            <span class="glyphicon glyphicon-cog"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownPostOptions-{{ post.number }}">

            {% if is_granted('ROLE_EDIT_POST', post) %}
                <li role="presentation">
                    <a href="{{ path('post_edit_post', {'forumSlug': topic.forum.slug, 'topicId': post.topic.id, 'postId': post.id } ) }}" role="menuitem" tabindex="-1" title="Editar mensaje"><span class="glyphicon glyphicon-pencil"> Editar</span></a>
                </li>
            {% endif %}

            <li role="presentation">
                <a data-toggle="modal" data-target="#dialogReportModal" data-title="Reportar mensaje: {{ post.number }}" data-path="{{ path('post_ajax_report_post') }}" data-type="ajaxReportPost"  data-postid="{{ post.id }}" data-postnumber="{{ post.number }}" role="menuitem" tabindex="-1"><span class="glyphicon glyphicon-flag" title="Reportar Mensaje"> Reportar</span></a>
            </li>

            {% if is_granted('ROLE_MODERATOR') %}
                <li role="presentation">
                    {% if post.isHidden %}
                        <a class="hide-unhide-button" data-toggle="modal" data-target="#dialogModal" data-title="Des-Ocultar mensaje" data-message="¿Está segur@ de que desea ocultar el mensaje #{{ post.number }}?" data-type="ajaxPostHideUnHide" data-path="{{ path('post_ajax_hide_unhide_post') }}" data-postid="{{ post.id }}" data-action="unhide" role="menuitem" tabindex="-1"><span class="glyphicon glyphicon-eye-open" title="Ocultar mensaje"> Des-Ocultar</span></a>

                    {% else %}
                        <a class="hide-unhide-button" data-toggle="modal" data-target="#dialogModal" data-title="Ocultar Mensaje" data-message="¿Está segur@ de que desea ocultar el mensaje #{{ post.number }}?" data-type="ajaxPostHideUnHide" data-path="{{ path('post_ajax_hide_unhide_post') }}" data-postid="{{ post.id }}" data-action="hide" role="menuitem" tabindex="-1"><span class="glyphicon glyphicon-eye-close" title="Ocultar mensaje"> Ocultar</span></a>

                    {% endif %}
                </li>
                <li role="presentation">
                    {% if post.isDeleted %}
                        <a class="delete_undelete_button" data-toggle="modal" data-target="#dialogModal" data-title="Des-borrar Mensaje" data-message="¿Está segur@ de que desea des-borrar el mensaje #{{ post.number }}?" data-type="ajaxPostDeleteUndelete" data-path="{{ path('post_ajax_delete_undelete_post') }}" data-postid="{{ post.id }}" data-action="undelete" role="menuitem" tabindex="-1"><span class="glyphicon glyphicon-ok" title="Des-borrar mensaje"> Des-borrar</span></a>
                    {% else %}
                        <a class="delete_undelete_button" data-toggle="modal" data-target="#dialogModal" data-title="Borrar Mensaje" data-message="¿Está segur@ de que desea borrar el mensaje #{{ post.number }}?" data-type="ajaxPostDeleteUndelete" data-path="{{ path('post_ajax_delete_undelete_post') }}" data-postid="{{ post.id }}" data-action="delete" role="menuitem" tabindex="-1"><span class="glyphicon glyphicon-remove" title="Borrar mensaje"> Borrar</span></a>
                    {% endif %}
                </li>
                <li role="presentation">
                    {% if post.poster.locked %}
                        <a class="ban-unban-button" data-toggle="modal" data-target="#dialogModal" data-title="Des-banear Usuario: {{ post.poster.username }}" data-path="{{ path('user_ajax_unban_user') }}" data-type="ajaxUnBanUser" data-message="¿Está segur@ de que desea desbanear al usuario {{ post.poster.username }}?" data-userid="{{ post.poster.id }}" data-username="{{ post.poster.username }}" data-postnumber="{{ post.number }}" role="menuitem" tabindex="-1"><span class="glyphicon glyphicon-ok-circle" title="Des-banear usuario"> Des-Banear</span></a>
                    {% else %}
                        <a class="ban-unban-button" data-toggle="modal" data-target="#dialogBanModal" data-title="Banear Usuario: {{ post.poster.username }}" data-path="{{ path('user_ajax_ban_user') }}" data-userid="{{ post.poster.id }}" data-username="{{ post.poster.username }}" data-postnumber="{{ post.number }}" role="menuitem" tabindex="-1"><span class="glyphicon glyphicon-ban-circle" title="Banear usuario"> Banear</span></a>
                    {% endif %}
                </li>
            {% endif %}
        </ul>
    </div>
{% endif %}