{% if post.isHidden %}
    <div id="hidden-post-{{ post.number }}" class="hidden-post-notice">
        <a id="{{ post.number }}" title="Click para mostrar mensaje oculto" href="#{{ post.number }}"> Mostrar mensaje #{{ post.number }} ocultado por incumplir las normas</a>
    </div>
{% endif %}

{% if post.isDeleted %}
    <div id="deleted-post-{{ post.number }}" class="deleted-post-notice">
        BORRADO mensaje <a href="{{ path('topic_show_topic', {'forumSlug': topic.forum.slug, 'topicSlug': post.topic.slug, 'topicId': post.topic.id} ) }}#{{ post.number }}" id="{{ post.number }}" title="post número {{ post.number }}">#{{ post.number }}</a> por incumplir las normas
    </div>
{% endif %}

{% if (not post.isDeleted) or (post.isDeleted and is_granted('ROLE_MODERATOR'))  %}
<div class="row post {% if post.number is odd  %}odd-element{% else %}even-element{% endif %} {% if post.isHidden %}hidden-content{% endif %}" id="post-{{ post.number }}">
    <div class="poster col-xs-2 hidden-xs hidden-sm">
        <a href="{{ path('user_profile', {'userName': post.poster.username } ) }}" {% if post.poster.locked %} class="banned" {% elseif post.poster.getHighestRole == 'ROLE_MODERATOR' %} class="moderator"  {% elseif post.poster.getHighestRole == 'ROLE_ADMIN' %} class="administrator" {% endif %} title="perfil de {{ post.poster.username }}">
            {{ post.poster.username }}
        </a>

        {% if not post.poster.locked %}<img src="{{ asset('uploads/images/avatar/' ~ post.poster.avatarName) | imagine_filter('avatar_topic') }}" alt="Avatar">{% endif %}

        {% if post.poster.lastActivity | isUserOnline %}
            <span class="glyphicon glyphicon-off online"> online</span>
        {% endif %}
    </div>

    <div class="content col-xs-12 col-md-10">

        <div class="row info-options">

            <div class="number col-xs-2 col-sm-3 {% if is_granted('ROLE_USER') %}col-xs-push-8 col-sm-push-8{% else %}col-xs-push-10 col-xs-push-9{% endif %}">
                <a href="{{ path('topic_show_topic_page', {'forumSlug': topic.forum.slug, 'topicSlug': post.topic.slug, 'topicId': post.topic.id, 'pageNumber':  pageNumber } ) }}#{{ post.number }}" {% if not post.isHidden %} id="{{ post.number }}" {% endif %} class="post-number" title="post número {{ post.number }}">
                    #{{ post.number }}
                </a>
            </div>

            <div class="date-avatar-mini col-xs-8 col-sm-8 col-xs-pull-2 col-sm-pull-3">
                <div class="col-xs-4 avatar-mini hidden-md hidden-lg">
                    {% if not post.poster.locked %}
                        <img src="{{ asset('uploads/images/avatar/' ~ post.poster.avatarName) | imagine_filter('avatar_topic_mini') }}" {% if post.poster.lastActivity | isUserOnline %}class="online-mini" title="Online" {% endif %} alt="Avatar">
                    {% endif %}
                </div>

                <a class="hidden-md hidden-lg {% if post.poster.locked %} banned {% elseif post.poster.getHighestRole == 'ROLE_MODERATOR' %} moderator  {% elseif post.poster.getHighestRole == 'ROLE_ADMIN' %} administrator {% endif %}" href="{{ path('user_profile', {'userName': post.poster.username } ) }}" title="perfil de {{ post.poster.username }}">{{ post.poster.username }}</a>

                <span class="hidden-xs hidden-sm">{{ post.postingDate | postingDate }}</span>

                <span class="date-mini">
                <span class="hidden-md hidden-lg">{{ post.postingDate | postingDate('postMini') }}</span>
                    {% if post.editDate != NULL %}
                        <span class="glyphicon glyphicon-pencil" data-toggle="tooltip" data-placement="top" title="Editado: {{ post.editDate | postingDate }}"></span>
                    {% endif %}
                </span>
            </div>

            <div class="options col-xs-2 col-sm-1">
                {% include '@Post/Default/includes/postOptions.html.twig' %}
            </div>

        </div>

        <hr>

        <div class="message">
            {{ post.message | bbcode | smilies | quotes(post.topic.id) | nl2br }}
            <div class="to-top"><a href="#topic-{{ topic.id }}" title="arriba"><span class="glyphicon glyphicon-chevron-up"></span></a></div>
        </div>

    </div>
</div>
{% endif %}