{{ form_errors(form) }}

<fieldset>
    <legend>{{ legend }}</legend>

    <div id="textarea-container" class="form-group row">
        <div class="col-xs-12">
            <button type="button" id="bold-bbcode" class="btn btn-default" title="Negrita: [b]texto[/b]"><span class="glyphicon glyphicon-bold"></span></button>
            <button type="button" id="italic-bbcode" class="btn btn-default" title="Cursiva: [i]texto[/i]"><span class="glyphicon glyphicon-italic"></span></button>
            <button type="button" id="underline-bbcode" class="btn btn-default" title="Subrayado: [u]texto[/u]"><span class="fa fa-underline"></span></button>
            <button type="button" id="title-bbcode" class="btn btn-default" title="Texto en formato título: [title]Texto del título[/title]"><span class="fa fa-text-height"></span></button>
            <button type="button" id="center-bbcode" class="btn btn-default" title="Centrar: [center]texto[/center]"><span class="glyphicon glyphicon-align-center"></span></button>
            <button type="button" id="image-bbcode" class="btn btn-default" title="Insertar imagen: [img]enlace[/img]"><span class="glyphicon glyphicon-picture"></span></button>
            <button type="button" id="video-bbcode" class="btn btn-default" title="Insertar video: [video]enlace[/video]"><span class="glyphicon glyphicon-facetime-video"></span></button>
            <button type="button" id="url-bbcode" class="btn btn-default" title="Insertar enlace: [url=enlace]título[/url] / [url=]enlace[/url] /[url]enlace[/url] "><span class="glyphicon glyphicon-link"></span></button>
            <button type="button" id="spoiler-bbcode" class="btn btn-default" title="Spoiler: [spoiler]texto oculto[/spoiler]">Spoiler</button>
            <button type="button" id="spoiler-title-bbcode" class="btn btn-default" title="Spoiler con titulo: [spoiler=Secreto]Secreto oculto[/spoiler]">Spoiler=</button>
            <button type="button" id="show-smilies" class="btn btn-default" title="Mostrar smilies"><span class="fa fa-smile-o"></span> <span class="caret"></span></button>
        </div>

        <div id="smilies-panel" class="col-xs-12 col-sm-10 col-sm-offset-1 hidden-content">
            <button type="button" id="smile" class="btn" title="Smile: :smile:"><img src="{{ asset('bundles/topic/images/smilies/smile.png') }}" alt="smiley"></button>
            <button type="button" id="laugh" class="btn" title="Smile: :laugh:"><img src="{{ asset('bundles/topic/images/smilies/laugh.png') }}" alt="smiley"></button>
            <button type="button" id="silly" class="btn" title="Smile: :silly:"><img src="{{ asset('bundles/topic/images/smilies/silly.png') }}" alt="smiley"></button>
            <button type="button" id="wink" class="btn" title="Smile: :wink:"><img src="{{ asset('bundles/topic/images/smilies/wink.png') }}" alt="smiley"></button>
            <button type="button" id="blush" class="btn" title="Smile: :blush:"><img src="{{ asset('bundles/topic/images/smilies/blush.png') }}" alt="smiley"></button>
            <button type="button" id="sad" class="btn" title="Smile: :sad:"><img src="{{ asset('bundles/topic/images/smilies/sad.png') }}" alt="smiley"></button>
            <button type="button" id="cool" class="btn" title="Smile: :cool:"><img src="{{ asset('bundles/topic/images/smilies/cool.png') }}" alt="smiley"></button>
            <button type="button" id="angry" class="btn" title="Smile: :angry:"><img src="{{ asset('bundles/topic/images/smilies/angry.png') }}" alt="smiley"></button>
            <button type="button" id="surprised" class="btn" title="Smile: :surprised:"><img src="{{ asset('bundles/topic/images/smilies/surprised.png') }}" alt="smiley"></button>
            <button type="button" id="speechless" class="btn" title="Smile: :speechless:"><img src="{{ asset('bundles/topic/images/smilies/speechless.png') }}" alt="smiley"></button>
            <button type="button" id="geek" class="btn" title="Smile: :geek:"><img src="{{ asset('bundles/topic/images/smilies/geek.png') }}" alt="smiley"></button>
            <button type="button" id="tease" class="btn" title="Smile: :tease:"><img src="{{ asset('bundles/topic/images/smilies/tease.png') }}" alt="smiley"></button>
            <button type="button" id="crazy" class="btn" title="Smile: :crazy:"><img src="{{ asset('bundles/topic/images/smilies/crazy.png') }}" alt="smiley"></button>
            <button type="button" id="fools" class="btn" title="Smile: :fools:"><img src="{{ asset('bundles/topic/images/smilies/fools.png') }}" alt="smiley"></button>
            <button type="button" id="cry" class="btn" title="Smile: :cry:"><img src="{{ asset('bundles/topic/images/smilies/cry.png') }}" alt="smiley"></button>
            <button type="button" id="xd" class="btn" title="Smile: :xd:"><img src="{{ asset('bundles/topic/images/smilies/xd.png') }}" alt="smiley"></button>
            <button type="button" id="devil" class="btn" title="Smile: :devil:"><img src="{{ asset('bundles/topic/images/smilies/devil.png') }}" alt="smiley"></button>
            <button type="button" id="angel" class="btn" title="Smile: :angel:"><img src="{{ asset('bundles/topic/images/smilies/angel.png') }}" alt="smiley"></button>
            <button type="button" id="ill" class="btn" title="Smile: :ill:"><img src="{{ asset('bundles/topic/images/smilies/ill.png') }}" alt="smiley"></button>
            <button type="button" id="zipit" class="btn" title="Smile: :zipit:"><img src="{{ asset('bundles/topic/images/smilies/zipit.png') }}" alt="smiley"></button>
            <button type="button" id="annoyed" class="btn" title="Smile: :annoyed:"><img src="{{ asset('bundles/topic/images/smilies/annoyed.png') }}" alt="smiley"></button>
            <button type="button" id="please" class="btn" title="Smile: :please:"><img src="{{ asset('bundles/topic/images/smilies/please.png') }}" alt="smiley"></button>
            <button type="button" id="hay" class="btn" title="Smile: :hay:"><img src="{{ asset('bundles/topic/images/smilies/hay.png') }}" alt="smiley"></button>
            <button type="button" id="notguilty" class="btn" title="Smile: :notguilty:"><img src="{{ asset('bundles/topic/images/smilies/notguilty.png') }}" alt="smiley"></button>
            <button type="button" id="kissy" class="btn" title="Smile: :kissy:"><img src="{{ asset('bundles/topic/images/smilies/kissy.png') }}" alt="smiley"></button>
            <button type="button" id="zzz" class="btn" title="Smile: :zzz:"><img src="{{ asset('bundles/topic/images/smilies/zzz.png') }}" alt="smiley"></button>
            <button type="button" id="totalshock" class="btn" title="Smile: :totalshock:"><img src="{{ asset('bundles/topic/images/smilies/totalshock.png') }}" alt="smiley"></button>
            <button type="button" id="inlove" class="btn" title="Smile: :inlove:"><img src="{{ asset('bundles/topic/images/smilies/inlove.png') }}" alt="smiley"></button>
            <button type="button" id="notonecare" class="btn" title="Smile: :notonecare:"><img src="{{ asset('bundles/topic/images/smilies/notonecare.png') }}" alt="smiley"></button>
            <button type="button" id="boring" class="btn" title="Smile: :boring:"><img src="{{ asset('bundles/topic/images/smilies/boring.png') }}" alt="smiley"></button>
            <button type="button" id="minishock" class="btn" title="Smile: :minishock:"><img src="{{ asset('bundles/topic/images/smilies/minishock.png') }}" alt="smiley"></button>
            <button type="button" id="oh" class="btn" title="Smile: :oh:"><img src="{{ asset('bundles/topic/images/smilies/oh.png') }}" alt="smiley"></button>
        </div>
        <div class="col-xs-12">
            {{ form_errors(form) }}

            {{ form_row(form.message) }}
        </div>

    </div>
</fieldset>

{{ form_rest(form) }}