<!-- Modal -->
<div class="modal fade" id="dialogReportModal" tabindex="-1" role="dialog" aria-labelledby="dialogReportModalTitle" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="dialogReportModalTitle">Reportar Mensaje</h4>
            </div>
            <div class="modal-body">

                <form action="#" class="form-horizontal" role="form" method="post" {{ form_enctype(reportForm) }} novalidate>

                    {{ form_errors(reportForm) }}

                    {{ form_row(reportForm.reportReason) }}

                    {{ form_rest(reportForm) }}

                    <div class="form-actions modal-footer">
                        <button type="submit" class="btn btn-primary pull-left" name="reportar" >Reportar Mensaje</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>