/****************************
** TOPIC LESS-CSS
****************************/

//En este fichero less tengo todos los estilos que se van a utilizar para mostrar los temas

/* VARIABLES */
@import '../../../../../../app/Resources/public/less/variables.less';

/* POST/MENSAJES */
@import '../../../../PostBundle/Resources/public/css/post.less';

/* MIXINS */
.primary-button(){
  color: @secondary-color;
  background-color: @primary-color;
  -webkit-transition: @transition-ease;
  -moz-transition: @transition-ease;
  -o-transition: @transition-ease;
  -ms-transition: @transition-ease;
  transition: @transition-ease;
}

.lighten-primary-button(){
  color: @secondary-color;
  background-color: lighten(@primary-color, 20%);
  -webkit-transition: @transition-ease;
  -moz-transition: @transition-ease;
  -o-transition: @transition-ease;
  -ms-transition: @transition-ease;
  transition: @transition-ease;
}

.darken-secondary-button(){
  color: @tertiary-color;
  background-color: darken(@secondary-color, 10%);
  -webkit-transition: @transition-ease;
  -moz-transition: @transition-ease;
  -o-transition: @transition-ease;
  -ms-transition: @transition-ease;
  transition: @transition-ease;
}

.tertiary-button(){
  .primary-button();
  color: @secondary-color;
  background-color: @tertiary-color;
}

.darken-tertiary-button(){
  .primary-button();
  color: @secondary-color;
  background-color: darken(@tertiary-color, 20%);
}

.secondary-button(){
  .primary-button();
  color: @tertiary-color;
  background-color: @secondary-color;
}

.votes-text(@weight: bold, @size: @font-size-base * 4, @color: @tertiary-color){
  font-weight: @weight;
  font-size: @size;
  color: @color;
}

.pagination-boxes(@width: 48px, @height: 48px, @line-height: 48px){
  display: block;
  width: @width;
  height: @height;
  line-height: @line-height;
  cursor: not-allowed;
  border-top: 1px solid #FFFFFF;
}

.base-requested-post(){
  border-left: 1px solid @tertiary-color;
  border-right: 1px solid @tertiary-color;
}

/* SELECTORES */

#main-container{
  padding-left: 0;
  padding-right: 0;
}

// Mensaje solicitado remarcado
.requested-post{
  .base-requested-post();
}

.requested-post-is-latest{
  .base-requested-post();
  border-bottom: 1px solid @tertiary-color;
}

// Paginación Affix
.affix-pagination {

  padding-left: 30px;
  padding-right: 0px;
  font-size: @font-size-base * 1.4;
  & ul,
  & ul span{
    text-align: center;
  }

  & li {
    margin-bottom: 1px;
    width: 48px;
    height: 48px;
  }

  & li a {
    border: 1px solid @border-color;
    .secondary-button();
    padding: 10px 0;
  }

  & ul a:hover,
  & ul a:active,
  & ul a:focus{
    .primary-button();
  }

  & .disabled-page{
    .pagination-boxes();
    .primary-button();
  }

  & .current-page{
    .pagination-boxes();
    .lighten-primary-button();
  }
}


// Formulario de respuesta
#reply-form{
  margin-bottom: 10px;

  & .reply-button{
    .tertiary-button();
  }

  & .reply-button:hover,
  & .reply-button:active,
  & .reply-button:focus,
  {
    .secondary-button();
  }
}

// Colores de los mensajes

.odd-element{
  background-color: @odd-color;
}

.even-element {
  background-color: @even-color;
}

// Breadcrumb

.breadcrumb{
  background-color: @secondary-color;
  margin-left: 2px;
}

// Colores enlaces

.info-options a,
.extra-info a,
.breadcrumb a,
.should-register a,
.hidden-post-notice a,
.deleted-post-notice a,
.first-post .message a,
.post a{
  color: @tertiary-color;
}

.extra-info,
.breadcrumb,
.hidden-post-notice,
.deleted-post-notice,
{
  & a:hover,
  & a:active,
  & a:focus,
  & a:visited{
    color: lighten(@tertiary-color, 10%);
    text-decoration: none
  }
}

.info-options,
.post,
.should-register,
{
  & a:hover,
  & a:active,
  & a:focus,{
    color: lighten(@tertiary-color, 10%);
    text-decoration: none
  }
}

// Recuadro de aviso de registro

.should-register{
  text-align: center;
  line-height: 40px;
  margin-bottom: 20px;

  & > div{
    background-color: lighten(@quaternary-color, 25%);
  }
}



 // Primer mensaje del tema y mensajes

.first-post,
.post{
  & .avatar-mini{
    padding: 0 0;
    height: 40px;
    width: 35px;
    margin-right: 2px;
  }

  & .date-avatar-mini{
    padding-right: 0;
  }

  & a.banned{
    color: @banned-color;
    pointer-events: none;
    cursor: default;
  }

  & a.moderator{
    color: @moderator-color;
  }

  & a.administrator{
    color: @administrator-color;
  }

  & .date-mini {
    display: block;
  }

  & .number{
    padding-right: 10px;
    padding-left: 0px;
    text-align: right;
  }

  & .options button {
    .tertiary-button();
  }

  & .options button:hover,
  & .options button:focus,
  & .options button:active {
    .secondary-button();
  }

  & .options li a {
    .secondary-button();
    line-height: 40px;
    border-bottom: 1px solid @navigation-border-color;
  }

  & .options li a:hover,
  & .options li a:focus,
  & .options li a:active {
    .tertiary-button();
  }

  & .message {
    font-size: @font-size-base *1.2;
  }

  & img.online-mini{
    border-bottom: 5px solid @online-color;
  }

  & span.online{
    color: darken(@online-color, 20%);
    font-size: @font-size-base * 0.9;
  }

  & blockquote{
    border-left: 5px solid @tertiary-color;
  }
}

// Primer mensaje del tema

.first-post{

  margin-bottom: 10px;

  // Título del tema

  & .finished{
    text-decoration: line-through;
  }

  // Imagen

  & .image {
    margin-bottom: 5px;
    min-height: 50px;
  }

  & .image img {
    // Arreglo para IE 10
    max-height: 104px;
    max-width: 104px;
  }

  & .image a {
    text-decoration: none;
    display: block;
  }

  & .image .glyphicon-link {
    font-weight: bold;
    font-size: @font-size-base *1.3;
    color: darken(@primary-color, 5%);
  }

  & .image a:hover,
  & .image a:focus,
  & .image a:visited,
  & .image a:active,
  {
    .glyphicon-link{
      color: lighten(@tertiary-color, 10%);
    }
  }

  & .img-thumbnail {
    border: none;
  }

  // Votos-Link
  & .votes,
  & .image{
    line-height: 100px;
    text-align: center;
  }

  & .votes{
    padding: 0;
  }

  & .voting-buttons,
  & .voting-buttons > div{
    padding-right: 0px;
    padding-left: 0px;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  & .link{
    margin-top: 5px;
  }

  & .voting-buttons a.vote-button-positive,
  & .link a,
  {
    color:@secondary-color;
    background-color: @tertiary-color;
    border: 1px solid @tertiary-color;
  }

  & .voting-buttons a.vote-button-negative {
    background-color:@secondary-color;
    color: @tertiary-color;
    border: 1px solid @tertiary-color;
  }

  & .voting-buttons a.vote-button-positive:hover,
  & .voting-buttons a.vote-button-positive:focus,
  & .link a:hover,
  & .link a:focus {
    .darken-secondary-button();
  }

  & .voting-buttons a.vote-button-negative:hover,
  & .voting-buttons a.vote-button-negative:focus {
    .tertiary-button();
  }

  & .popular-status{
    .votes-text(bold, @font-size-base * 4, @tertiary-color);
  }

  & .neither-status{
    .votes-text(bold, @font-size-base * 4, darken(@border-color, 15%));
  }

  & .not-popular-status{
    .votes-text(bold, @font-size-base * 4, @not-pop-color);
  }

  // Avatar-Usuario

  & .avatar-mini{
    padding: 0 0;
    height: 40px;
    width: 35px;
    margin-right: 2px;
  }

  // Mensaje

  & .message {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  // Extra info

  & .extra-info{
    margin-top: 10px;
  }

  & .normal-extra-info .tags{
    line-height: 44px;
  }

  & .start-end-dates span {
    display: block;
    margin-bottom: 3px;
  }

  & .start-end-dates span.fa-calendar{
    color: @primary-color;
  }

  & .start-end-dates span.fa-calendar-o{
    color: @tertiary-color;
  }

  & .social {
    margin-top: 7px;
    text-align: center;
  }

  & .social li {
    width: 32.1%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    padding: 0;
  }

  & .social a{
    display: block;
  }

  & .social ul{
    margin-left: 0;
  }

  & .social ul span.fa{
    font-size: @font-size-base * 1.5;
  }

  & .social li:nth-child(1){
    background-color: @facebook-brand-color;
  }

  & .social li:nth-child(2){
    background-color: @twitter-brand-color;
  }

  & .social li:nth-child(3){
    background-color: @gplus-brand-color;
  }

  & .social span.fa{
    color: @secondary-color;
    font-size: @font-size-base * 1.7;
  }

  & .favorite .btn{
    .secondary-button();
    border: 1px solid @border-color;
  }

  & .favorite .btn span{
    font-size: @font-size-base * 1.7;
  }

  & .favorite .btn:hover,
  & .favorite .btn:active,
  & .favorite .btn:focus,
  {
    .lighten-primary-button();
  }

  // Cupón descuento
  & .voucher,
  & .discount{
    line-height: @font-size-base * 2;
    color: @secondary-color;
    background-color: lighten(@primary-color, 10%);
    margin-top: 12px;
    font-size: @font-size-base * 1.2;
  }

  & .short-voucher:hover{
    cursor:pointer;
    cursor:hand;
  }

  & .voucher-extras{
    color: @voucher-mininum-color;
  }

}


// Mensajes

.post{
  padding-bottom: 10px;
  padding-top: 10px;
  min-height: 60px;
  border-top: 1px solid lighten(@tertiary-color, 10%);

  & .message img{
    max-height: 2048px;
  }

  & hr { display: block; height: 1px;
    border: 0; border-top: 1px solid @border-color;
    margin: 3px 0; padding: 0; }

  // Posteador y estatus del mismo

  & .poster {
    text-align: right;
  }

  & .poster span{
    display: block;
  }

  & .to-top{
    text-align: right;
    margin-top: 5px;
  }

  & .to-top span{
    color: @primary-color;
  }

  img.img-responsive{
    display: inline-block;
  }

  div.text-center img{
    margin: 0 auto;
  }
}


// Aviso de mensaje oculto/borrado

 .hidden-post-notice,
 .deleted-post-notice{
  background-color: lighten(@quaternary-color, 35%);
  line-height: 30px;
  text-align: center;
  margin-right: -15px;
  margin-left: -15px;
  border-top: 1px solid @tertiary-color;
}



/* MEDIA QUERIES */

@media (min-width: 480px){

  .first-post,
  .post{
    & .number{
      font-size: @font-size-base *1.5;
    }
  }

  .first-post{
    & .social li {
      width: 32.55%;
      height: 40px;
      line-height: 40px;
      text-align: center;
      padding: 0;
    }
  }


}

@media (min-width: 768px){
  .first-post{
    & .voting-buttons,
    & .voting-buttons > div{
      margin-top: 12px;
      margin-bottom: 5px;
    }
  }

}

@media (min-width: 992px){


  .first-post,
  .post{
    padding-bottom: 7px;
    margin-right: 10px;
    padding-bottom: 7px;

    & .message {
      font-size: @font-size-base *1.1;
    }
  }

  .first-post{

    & .voting-buttons,
    & .voting-buttons > div{
      margin-top: 0;
      margin-bottom: 5px;
    }

    & h3 {
      margin-top: 0;
    }

    & .post-number-date {
      margin-left: -85px;
    }

    & .info-options{
      margin-bottom: 6px;
    }

    & .extra-info{
      border: 2px solid @even-color;
      padding: 12px;
      -webkit-border-radius: 10px !important;
      -moz-border-radius: 10px !important;
      border-radius: 10px !important;
      margin-top: 0px;
    }

    & .social li {
      width: 31.5%;
      height: 40px;
      line-height: 40px;
      text-align: center;
      padding: 0;
    }

  }


  .post{
    padding-top: 10px;
    min-height: 110px;
    font-size: @font-size-base *1.1;

    & .poster > a{
      display: block;
    }

    & .date-mini {
      display: inline;
    }
  }

  .hidden-post-notice,
  .deleted-post-notice{
    background-color: lighten(@quaternary-color, 35%);
    line-height: 30px;
    text-align: center;
    margin-right: 10px;
    margin-left: -15px;
  }

}

@media (min-width: 1200px){
  .affix-pagination {

    & li {
      margin-bottom: 1px;
      width: 64px;
      height: 50px;
    }

    & .disabled-page{
      .pagination-boxes(64px, 50px, 50px);
      .primary-button();
    }

    & .current-page{
      .pagination-boxes(64px, 50px, 50px);
      .lighten-primary-button();
    }

  }

}

