/****************************
** NOTIFICATIONS LESS-CSS
****************************/

//En este fichero less tengo todos los estilos que se van a utilizar para mostrar los temas

/* VARIABLES */
@import '../../../../../../app/Resources/public/less/variables.less';
@odd-color: rgba(74, 74, 74, 0.02);
@even-color: rgba(113, 113, 113, 0.08);
@banned-color: #868686;
@online-color: #62ff2b;
@element-height: 40px;

/* MIXINS */


/* SELECTORES */

.notification-type{
  color: @tertiary-color;
  font-weight: bold;
}

h3.notification-title{
  font-size: @font-size-base * 1.2;
}

// Colores de los mensajes

.odd-element{
  background-color: @odd-color;
}

.even-element {
  background-color: @even-color;
}

.unread{
  font-weight: bold !important;
}

.quote-notification,
.moderation-notification,
.favorite-notification,
.signature-notification{

  min-height: @element-height;
  margin: 5px 0;
  padding: 5px 15px;

  & .avatar-mini{
    padding: 0 0;
    height: @element-height;
    width: 35px;
    margin-right: 2px;
  }

  & .date-mini {
    display: block;
  }

  & .banned{
    color: @banned-color;
    font-weight: bold;
  }

  // Colores enlaces
  & a{
    color: @tertiary-color;
  }

  & a:hover,
  & a:active,
  & a:focus,
  & a:visited{
    color: lighten(@tertiary-color, 10%);
    text-decoration: none
  }


  & img.online-mini{
    border-bottom: 5px solid @online-color;
  }
}

.signature-notification{
  & .signature-book{
    line-height: @element-height;
  }
}

// Paginación

.navigation{
  margin-bottom: 0;
  margin-top: 0;
}


/* MEDIA QUERIES */

@media (min-width: 768px){
  h3.notification-title{
    font-size: @font-size-base * 1.7;
  }

}



