/****************************
** PROFILE LESS-CSS
****************************/

//En este fichero less tengo todos los estilos que se van a utilizar para mostrar el perfil del usuario

/* VARIABLES */
@import '../../../../../../app/Resources/public/less/variables.less';

/* SELECTORES */

// Importo las firmas
@import 'signatures.less';

h3.notification-title{
  font-size: @font-size-base * 1.1 !important;
}

.no-content{
  background-color: #eaeaea;
  min-height: 80px;
  line-height: 80px;
  text-align: center;
}

// Opciones
.options{
  margin-bottom: 10px;
}

// Colores enlaces

.custom-info a,
.last-posts a{
  color: @tertiary-color;
}

.custom-info,
.last-posts
{
  & a:hover,
  & a:active,
  & a:focus,
  & a:visited{
    color: lighten(@tertiary-color, 10%);
    text-decoration: none
  }
}

.custom-info .username{
  min-height: 80px;
  line-height: 80px;
}

#main-container{
  padding-left: 5px;
  padding-right: 5px;
}

.options,
.info,
.last-activity{
  padding-left: 0;
  padding-right: 0;
}

.options{
  text-align: center;
}


.avatar-stats{
  margin-top: 13px;
}

.stats li{
  list-style-type: none;
}

.stats li:before{
  font-family: 'FontAwesome';
  content: '\f05b';
  margin:0 5px 0 -15px;
  color: @primary-color;
}

// Custom info
.custom-info{
  overflow-y: scroll;
  height:300px;
  display: block;
  background-color: #eaeaea;
  padding: 10px;
}

// Últimas firmas / mensajes
.custom-info-signatures{
  margin-bottom: 10px;
}

.last-signatures a.btn{
  margin: 10px 0;
}

.last-posts div{
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 7px;
}

/* MEDIA-QUERIES */

@media (min-width: 992px){

  .options,
  .info,
  .last-activity,
  #main-container{
    padding-left: 15px;
    padding-right: 15px;
  }

  .options{
    text-align: left;
  }
}
