/****************************
** REPORTS LESS-CSS
****************************/

//En este fichero less tengo todos los estilos que se van a utilizar para mostrar los temas

/* VARIABLES */
@import '../../../../../../app/Resources/public/less/variables.less';
@remove-glyphicon-color: #ed2939;
@ok-glyphicon-color: #2c8c35;

/* MIXINS */


/* SELECTORES */

.reports-type{
  color: @tertiary-color;
  font-weight: bold;
}

h3.reports-title{
  font-size: @font-size-base * 1.2;
}

// Navegación
.nav-pills{

  & li:hover{
    background-color: lighten(@tertiary-color, 30%);
  }

  & a {
    color: @tertiary-color;
    text-decoration: none;

    &:hover, &:focus, &:active {
      color: darken(@tertiary-color, 30%);
    }
  }

  & > li.active{
    & > a, & a:hover, & a:focus{
      color: @secondary-color;
      background-color: @tertiary-color;
    }
  }
}


// Tabla
table{
  & a {
    color: @tertiary-color;
    text-decoration: none;

    &:hover, &:focus, &:active, &:visited {
      color: lighten(@tertiary-color, 10%);
      text-decoration: none;
    }
  }

  .glyphicon-remove{
    color: @remove-glyphicon-color;
  }

  .glyphicon-ok{
    color: @ok-glyphicon-color;
  }
}


/* MEDIA QUERIES */

@media (min-width: 768px){
  h3.reports-title{
    font-size: @font-size-base * 1.7;
  }

}



