/****************************
** PROFILE LESS-CSS
****************************/

//En este fichero less tengo todos los estilos que se van a utilizar para mostrar las firmas

/* VARIABLES */
@import '../../../../../../app/Resources/public/less/variables.less';

/* SELECTORES */

// Colores de los mensajes

.odd-element{
  background-color: @odd-color;
}

.even-element {
  background-color: @even-color;
}

.username{
  color: @tertiary-color;
  font-weight: bold;
}

// Firmas

.signature{
  padding-bottom: 10px;
  padding-top: 10px;
  min-height: 60px;
  border-top: 1px solid lighten(@tertiary-color, 10%);

  // Colores enlaces
  & a{
    color: @tertiary-color;
  }

  & a:hover,
  & a:active,
  & a:focus,
  & a:visited{
    color: lighten(@tertiary-color, 10%);
    text-decoration: none
  }


  & hr { display: block; height: 1px;
    border: 0; border-top: 1px solid @border-color;
    margin: 3px 0; padding: 0; }

  // Posteador y estatus del mismo

  & .poster {
    text-align: right;
  }

  & .poster span{
    display: block;
  }

  & .avatar-mini{
    padding: 0 0;
    height: 40px;
    width: 35px;
    margin-right: 2px;
  }

  & .date-avatar-mini{
    padding-right: 0;
  }

  & a.banned{
    color: @banned-color;
    pointer-events: none;
    cursor: default;
  }

  & a.moderator{
    color: @moderator-color;
  }

  & a.administrator{
    color: @administrator-color;
  }

  & .date-mini {
    display: block;
  }

  & .message {
    font-size: @font-size-base *1.2;
  }

  & img.online-mini{
    border-bottom: 5px solid @online-color;
  }

  & span.online{
    color: darken(@online-color, 20%);
    font-size: @font-size-base * 0.9;
  }
}

/* MEDIA-QUERIES */

@media (min-width: 992px){

  .signature{

    & .message {
      font-size: @font-size-base *1.1;
    }
  }
}
