{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

    {% block title %}
        Casi hemos terminado ...
    {% endblock %}

    {% block id 'check-email' %}

{% block fos_user_content %}
    <div class="jumbotron">
        <h2>Casi hemos terminado ...</h2>
        <p>{{ 'registration.check_email'|trans({'%email%': user.email}) }}</p>
    </div>
{% endblock fos_user_content %}
