{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

    {% block title %}
        Registro Confirmado!!!
    {% endblock %}

    {% block id 'register-confirmation' %}

{% block fos_user_content %}
    <div class="jumbotron">
        <h2>Bienvenido a DealHunt, {{ user.username }}!</h2>
        <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
        <p class="btn-toolbar"><a href="{{ path('forum_front_page') }}" class="btn btn-default btn-lg" role="button">Página Principal »</a><a href="{{ path('fos_user_profile_show') }}" class="btn btn-default btn-lg btn-toolbar" role="button">Ver Mi Perfil »</a></p>
    </div>

    {% if app.session is not empty %}
        {% set targetUrl = app.session.get('_security.' ~ app.security.token.providerKey ~ '.target_path') %}
        {% if targetUrl is not empty %}<p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>{% endif %}
    {% endif %}

{% endblock fos_user_content %}
