{% trans_default_domain 'FOSUserBundle' %}


{% block content %}
    <div class="row">
        <div class="col-xs-12 col-md-10 col-md-offset-1">

            <h1 class="form-title"><span>></span>{{ title }}</h1>

            <form action="{{ path('fos_user_registration_register') }}" class="form-horizontal" role="form" method="post" {{ form_enctype(form) }} novalidate>
                <fieldset>
                    <legend>Datos Obligatorios</legend>

                    {{ form_errors(form) }}

                    {{ form_javascript(form) }}

                    {{ form_row(form.username) }}
                    {{ form_row(form.email.first) }}
                    {{ form_row(form.email.second) }}
                    {{ form_row(form.plainPassword.first) }}
                    {{ form_row(form.plainPassword.second) }}

                    {% if form.captcha.vars.errors | length > 0 %}
                        <div class="form-group has-error">
                            {{ form_label(form.captcha) }}
                            <div class="col-xs-10 col-md-9">
                                {{ form_widget(form.captcha) }}
                                {% if form.captcha.vars.errors | length > 0 %}
                                    <span class="help-block">No ha introducido correctamente el texto del Captcha</span>
                                {% endif %}
                            </div>
                        </div>
                    {% else %}
                        {{ form_row(form.captcha) }}
                    {% endif %}

                    {{ form_rest(form) }}

                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary" name="register">Registrar</button>
                        <a href="{{ path('forum_front_page') }}" class="btn btn-danger pull-right">Cancelar</a>
                    </div>
                </fieldset>

            </form>
        </div>
    </div>
{% endblock content %}