{% extends "FOSUserBundle::layout.html.twig" %}

    {% block title %}
        Registro
    {% endblock %}

    {% block id 'register' %}

{% block fos_user_content %}
    {% include "FOSUserBundle:Registration:register_content.html.twig" with {'title': block('title')}  %}
{% endblock fos_user_content %}






