{% form_theme banForm '::Form/fields.html.twig' %}

<!-- Modal -->
<div class="modal fade" id="dialogBanModal" data-username ="" tabindex="-1" role="dialog" aria-labelledby="dialogBanModalTitle" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="dialogBanModalTitle">Banear Usuario</h4>
            </div>
            <div class="modal-body">

                <form action="#" class="form-horizontal" role="form" method="post" {{ form_enctype(banForm) }} novalidate>

                        {{ form_errors(banForm) }}

                        {{ form_row(banForm.finishingDate) }}
                        {{ form_row(banForm.reason) }}

                        {{ form_rest(banForm) }}

                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary" name="banear" >Banear Usuario</button>
                        <button type="reset" class="btn btn-danger pull-right" name="borrar">Borrar</button>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>