<div class="row container">
    {% for favoriteTopic in pagination %}

        {% set lastPostNumberVisitedTopic = favoriteTopic.lastVisitedPost.number %}
        {% set numberOfUnreadPosts = favoriteTopic.lastVisitedPost.topic.lastPost.number - lastPostNumberVisitedTopic %}
        {% if numberOfUnreadPosts > 0 %}
            {% set firstUnreadPost = lastPostNumberVisitedTopic+1 %}
        {% else %}
            {% set firstUnreadPost = lastPostNumberVisitedTopic %}
        {% endif %}

        <div class="favorite-notification col-xs-12 {{ cycle(['even-element', 'odd-element'], loop.index0) }} {% if numberOfUnreadPosts > 0 %} unread{% endif %}">

            <div class="visible-xs primary-text-color">
                Último mensaje de:
            </div>
            <div class="col-xs-1 avatar-mini">
                <img src="{{ asset('uploads/images/avatar/' ~ favoriteTopic.lastVisitedPost.topic.lastPost.poster.avatarName) | imagine_filter('avatar_topic_mini') }}" {% if favoriteTopic.lastVisitedPost.topic.lastPost.poster.lastActivity | isUserOnline %}class="online-mini" title="Online" {% endif %} alt="Avatar">
            </div>
            <div class="col-sm-3">
                {% if favoriteTopic.lastVisitedPost.topic.lastPost.poster.locked %}
                    <span class="banned">{{ favoriteTopic.lastVisitedPost.topic.lastPost.poster.username }}</span>
                {% else %}
                    <a href="{{ path('user_profile', {'userName': favoriteTopic.lastVisitedPost.topic.lastPost.poster.username } ) }}" title="perfil de {{ favoriteTopic.lastVisitedPost.topic.lastPost.poster.username }}">
                        {{ favoriteTopic.lastVisitedPost.topic.lastPost.poster.username }}
                    </a>
                {% endif %}

                <span class="date-mini">
                {{ favoriteTopic.lastVisitedPost.topic.lastPost.postingDate | postingDate }}
                </span>
            </div>

            <div class="visible-xs primary-text-color">
                Tema:
            </div>
            <div class="col-sm-8">
                <a href="{{ path('topic_show_topic_page', {'forumSlug': favoriteTopic.lastVisitedPost.topic.forum.slug , 'topicSlug': favoriteTopic.lastVisitedPost.topic.slug, 'topicId': favoriteTopic.lastVisitedPost.topic.id, 'pageNumber':  firstUnreadPost | postPageNumber(getGlobalVariables().getMaxPostsPerTopicPage) } ) }}#{{ firstUnreadPost }}" title="{{ numberOfUnreadPosts }} Mensajes sin leer"><span class="badge">{{ numberOfUnreadPosts }}</span> {{ favoriteTopic.lastVisitedPost.topic.title }}</a>
            </div>

        </div>
    {% endfor %}
</div>