<div class="row container">
    {% for moderationNotification in pagination %}
        <div class="quote-notification col-xs-12 {{ cycle(['even-element', 'odd-element'], loop.index0) }} {% if not moderationNotification.isNotified %} unread{% endif %}">
        <span {% if not moderationNotification.isNotified %} class="unread" {% endif %}>
            Uno de tus mensajes ha sido moderado <br> {{ moderationNotification.date | postingDate('notification') }} en <a href="{{ path('topic_show_topic_page', {'forumSlug': moderationNotification.post.topic.forum.slug, 'topicSlug': moderationNotification.post.topic.slug, 'topicId': moderationNotification.post.topic.id, 'pageNumber': moderationNotification.post.number | postPageNumber(getGlobalVariables().getMaxPostsPerTopicPage)   } ) }}#{{ moderationNotification.post.number }}">{{ moderationNotification.post.topic.title }}</a>
        </span>
        </div>
    {% endfor %}
</div>

