<div class="row container">
    {% for quoteNotification in pagination %}
        <div class="quote-notification col-xs-12 {{ cycle(['even-element', 'odd-element'], loop.index0) }} {% if not quoteNotification.isNotified %} unread{% endif %}">
            <div class="col-xs-1 avatar-mini">
                <img src="{{ asset('uploads/images/avatar/' ~ quoteNotification.post.poster.avatarName) | imagine_filter('avatar_topic_mini') }}" {% if quoteNotification.post.poster.lastActivity | isUserOnline %}class="online-mini" title="Online" {% endif %} alt="Avatar">
            </div>

            <div class="col-sm-3">
                {% if quoteNotification.post.poster.locked %}
                    <span class="banned">{{ quoteNotification.post.poster.username }}</span>
                {% else %}
                    <a href="{{ path('user_profile', {'userName': quoteNotification.post.poster.username } ) }}" title="perfil de {{ quoteNotification.post.poster.username }}">
                        {{ quoteNotification.post.poster.username }}
                    </a>
                {% endif %}

                <span class="date-mini">
                {{ quoteNotification.post.postingDate | postingDate }}
                </span>

            </div>

            <div class="col-sm-8">
                Te ha citado en<br> <a href="{{ path('topic_show_topic_page', {'forumSlug': quoteNotification.post.topic.forum.slug, 'topicSlug': quoteNotification.post.topic.slug, 'topicId': quoteNotification.post.topic.id, 'pageNumber': quoteNotification.post.number | postPageNumber(getGlobalVariables().getMaxPostsPerTopicPage)   } ) }}#{{ quoteNotification.post.number }}">{{ quoteNotification.post.topic.title }}</a>
            </div>

        </div>
    {% endfor %}
</div>