<div class="table-responsive">
<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>
            Reporta
        </th>
        <th>
            Mensaje
        </th>
        <th>
            Motivo
        </th>
        <th>
            Fecha
        </th>
        <th>
            ¿Leido?
        </th>
    </tr>
    </thead>

    <tbody>

    {% for report in pagination %}
        <tr>
            <td>
                <a href="{{ path('user_profile', {'userName': report.user.username }) }}">{{ report.user.username }}</a>
            </td>

            <td>
                <a href="{{ path('topic_show_topic_page', {'forumSlug': report.post.topic.forum.slug, 'topicSlug': report.post.topic.slug, 'topicId': report.post.topic.id, 'pageNumber': report.post.number | postPageNumber(getGlobalVariables().getMaxPostsPerTopicPage)   } ) }}#{{ report.post.number }}">{{ report.post.topic.title }}</a>
            </td>

            <td>
                {{ report.reportReason.name }}
            </td>

            <td>
                {{ report.date | postingDate }}
            </td>

            <td>
                {% if report.isNotified %}
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"><a class="notified_unnotified_button" data-path="{{ path('user_ajax_notified_unnotified_report') }}" data-userid="{{ report.user.id }}" data-postid="{{ report.post.id }}" data-markas="unnotified" title="Desmarcar como leido este reporte"><span class="glyphicon glyphicon-ok"></span></a></div>
                {% else %}
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"><a class="notified_unnotified_button" data-path="{{ path('user_ajax_notified_unnotified_report') }}" data-userid="{{ report.user.id }}" data-postid="{{ report.post.id }}" data-markas="notified"  title="Marcar como leido este reporte"><span class="glyphicon glyphicon-remove"></span></a></div>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>





