<div class="signature col-xs-12{{ cycle(['even-element', 'odd-element'], loop.index0) }}" id="signature-{{ userSignature.id }}">

    <div class="row info-options">

        <div class="date-avatar-mini col-xs-10 col-sm-11">
            <div class="col-xs-4 avatar-mini">
                {% if not userSignature.signatureUser.locked %}
                    <img src="{{ asset('uploads/images/avatar/' ~ userSignature.signatureUser.avatarName) | imagine_filter('avatar_topic_mini') }}" {% if userSignature.signatureUser.lastActivity | isUserOnline %}class="online-mini" title="Online" {% endif %} alt="Avatar">
                {% endif %}
            </div>

            <a class="{% if userSignature.signatureUser.locked %} banned {% elseif userSignature.signatureUser.getHighestRole == 'ROLE_MODERATOR' %} moderator  {% elseif userSignature.signatureUser.getHighestRole == 'ROLE_ADMIN' %} administrator {% endif %}" href="{{ path('user_profile', {'userName': userSignature.signatureUser.username } ) }}" title="perfil de {{ userSignature.signatureUser.username }}">{{ userSignature.signatureUser.username }}</a>


                <span class="date-mini">
                <span>{{ userSignature.signatureDate | postingDate() }}</span>
                </span>
        </div>

        {% if displaySignatureOptions == 'true' %}
            <div class="options col-xs-2 col-sm-1">
                {% if is_granted('ROLE_DELETE_SIGNATURE', userSignature) %}
                    <a class="delete_signature_button" data-toggle="modal" href="" data-target="#dialogModal" data-title="Borrar firma" data-message="¿Está segur@ de que desea borrar la firma de {{ userSignature.signatureUser.username }}?" data-type="ajaxDeleteSignature" data-path="{{ path('user_ajax_delete_signature') }}" data-signatureid="{{ userSignature.id }}"><span class="glyphicon glyphicon-remove" title="Borrar firma"></span></a>
                {% endif %}
            </div>
        {% endif %}

    </div>

    <hr>

    <div class="message">
        {{ userSignature.signature | signatureBbcodes() | nl2br }}
    </div>
</div>