<div class="row container">
    {% for signatureNotification in pagination %}
        <div class="signature-notification col-xs-12 {{ cycle(['even-element', 'odd-element'], loop.index0) }} {% if not signatureNotification.isNotified %} unread{% endif %}">
            <div class="col-xs-1 avatar-mini">
                <img src="{{ asset('uploads/images/avatar/' ~ signatureNotification.signature.signatureUser.avatarName) | imagine_filter('avatar_topic_mini') }}" {% if signatureNotification.signature.signatureUser.lastActivity | isUserOnline %}class="online-mini" title="Online" {% endif %} alt="Avatar">
            </div>

            <div class="col-sm-3">
                {% if signatureNotification.signature.signatureUser.locked %}
                    <span class="banned">{{ signatureNotification.signature.signatureUser.username }}</span>
                {% else %}
                    <a href="{{ path('user_profile', {'userName': signatureNotification.signature.signatureUser.username } ) }}" title="perfil de {{ signatureNotification.signature.signatureUser.username }}">
                        {{ signatureNotification.signature.signatureUser.username }}
                    </a>
                {% endif %}

                <span class="date-mini">
                {{ signatureNotification.signature.signatureDate | postingDate }}
                </span>

            </div>

            <div class="signature-book col-sm-8">
                Te ha firmado en tu <a href="{{ path('user_signatures', {'userName': user.username}) }}#firmas">libro de firmas</a>
            </div>

        </div>
    {% endfor %}
</div>

