<div id="signature-form">

    {% if showTitle != false %}
        <h1 class="form-title"><span>></span> Firma para {{ user.username }}</h1>
    {% endif %}

    <form action="{{ path('user_new_signature', {'signedUserId': user.id}) }}" class="form-horizontal" role="form" method="post" {{ form_enctype(signatureForm) }} novalidate>

        {{ form_errors(signatureForm) }}

        {{ form_row(signatureForm.signature, { 'attr': {'rows':'7'} }) }}

        {{ form_rest(signatureForm) }}

        <div>Caracteres restantes: <span id="char_left">{{ maxChar }}</span></div>

        <div class="form-actions">
            <button type="submit" class="btn btn-primary" name="banear" >Firmar</button>
            {% if showTitle == false %}
                <button type="reset" class="btn btn-danger pull-right" name="borrar">Borrar</button>

            {% else %}
                <a href="{{ path('user_signatures', {'userName': user.username } ) }}" class="btn btn-danger pull-right">Cancelar</a>

            {% endif %}
        </div>
    </form>
</div>

