<h4>&Uacute;ltimos {{ numberOfUserLastPosts }} mensajes de <span class="username">{{ userName }}</span></h4>

{% if userPosts is empty %}

    <div class="no-content">
        <span class="username">{{ userName }}</span> aún no ha enviado ningún mensaje
    </div>

{% else %}
    {% for userPost in userPosts %}
        <div class="{{ cycle(['odd-element', 'even-element'], loop.index) }}"> <a href="{{ path('topic_show_topic_page', {'forumSlug': userPost.topic.forum.slug, 'topicSlug': userPost.topic.slug, 'topicId': userPost.topic.id, 'pageNumber': userPost.number | postPageNumber(getGlobalVariables().getMaxPostsPerTopicPage) } ) }}#{{ userPost.number }}">{{ userPost.topic.title }}</a> </div>
    {% endfor %}

{% endif %}