<h4>&Uacute;ltimas {{ getGlobalVariables().getMaxProfileSignatures }} firmas para <span class="username">{{ userName }}</span></h4>

{% if userSignatures is empty %}
    <div class="no-content">
        <span class="username">{{ userName }}</span> no tiene firmas
    </div>

{% else %}
    {% for userSignature in userSignatures %}
        {% include 'UserBundle:Default/includes:signature.html.twig'  with {'displaySignatureOptions': 'false'} %}
    {% endfor %}
{% endif %}

    <a href="{{ path('user_signatures', {userName: user.username}) }}" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-pencil"></span> Más firmas / Firmar</a>

