{% block user_block %}
    {% if app.user %}
        {% set _bg_class = "bg-light-blue" %}
        {% set _logout_uri = url('fos_user_security_logout') %}
        {% set _logout_text = 'Cerrar sesión' %}
        {% set _edit_profile_uri = url('fos_user_profile_edit') %}
        {% set _edit_profile_text = 'Editar mi perfil' %}
        {% set _frontpage_uri = url('forum_front_page') %}
        {% set _frontpage_text = 'Portada' %}

        <li class="list-group-item"><a href="{{ _frontpage_uri }}"><span class="glyphicon glyphicon-home"></span> {{ _frontpage_text }}</a></li>
        <li class="list-group-item"><a href="{{ _edit_profile_uri }}"><span class="fa fa-user"></span> {{ _edit_profile_text }}</a></li>
        <li class="list-group-item"><a href="{{ _logout_uri }}"><span class="fa fa-sign-out fa-fw"></span> {{ _logout_text }}</a></li>

    {% endif %}
{% endblock %}