{#
/**
 * @file
 * Twitter Bootstrap v3 Sliding pagination control implementation.
 *
 * View that can be used with the pagination module 
 * from the Twitter Bootstrap CSS Toolkit
 * http://getbootstrap.com/components/#pagination
 *
 * @author Pablo Díez <pablodip@gmail.com>
 * @author Jan Sorgalla <jsorgalla@gmail.com>
 * @author Artem Ponomarenko <imenem@inbox.ru>
 * @author Artem Zabelin <artjomzabelin@gmail.com>
 */
#}


{#
* Fichero twig perteneciente a KnpPaginatorBundle modificado para obtener una paginación responsive
#}
{% if pageCount > 1 %}
    <ul class="pagination hidden-xs hidden-sm">

        {% if previous is defined %}
            <li>
                <a href="{{ path(route, query|merge({(pageParameterName): previous})) }}">&laquo;&nbsp;{{ 'Previous'|trans }}</a>
            </li>
        {% else %}
            <li class="disabled">
                <span>&laquo;&nbsp;{{ 'Previous'|trans }}</span>
            </li>
        {% endif %}

        {% if startPage > 1 %}
            <li>
                <a href="{{ path(route, query|merge({(pageParameterName): 1})) }}">1</a>
            </li>
            {% if startPage == 3 %}
                <li>
                    <a href="{{ path(route, query|merge({(pageParameterName): 2})) }}">2</a>
                </li>
            {% elseif startPage != 2 %}
                <li class="disabled">
                    <span>&hellip;</span>
                </li>
            {% endif %}
        {% endif %}

        {% for page in pagesInRange %}
            {% if page != current %}
                <li>
                    <a href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
                </li>
            {% else %}
                <li class="active">
                    <span>{{ page }}</span>
                </li>
            {% endif %}

        {% endfor %}

        {% if pageCount > endPage %}
            {% if pageCount > (endPage + 1) %}
                {% if pageCount > (endPage + 2) %}
                    <li class="disabled">
                        <span>&hellip;</span>
                    </li>
                {% else %}
                    <li>
                        <a href="{{ path(route, query|merge({(pageParameterName): (pageCount - 1)})) }}">{{ pageCount -1 }}</a>
                    </li>
                {% endif %}
            {% endif %}
            <li>
                <a href="{{ path(route, query|merge({(pageParameterName): pageCount})) }}">{{ pageCount }}</a>
            </li>
        {% endif %}

        {% if next is defined %}
            <li>
                <a href="{{ path(route, query|merge({(pageParameterName): next})) }}">{{ 'Next'|trans }}&nbsp;&raquo;</a>
            </li>
        {% else %}
            <li class="disabled">
                <span>{{ 'Next'|trans }}&nbsp;&raquo;</span>
            </li>
        {% endif %}
    </ul>

    <div class="pagination-mini hidden-md hidden-lg">
        {% if previous is defined %}

            <a class="btn" href="{{ path(route, query|merge({(pageParameterName): startPage})) }}"><span class="glyphicon glyphicon-fast-backward"></span></a>
            <a class="btn" href="{{ path(route, query|merge({(pageParameterName): previous})) }}"><span class="glyphicon glyphicon-step-backward"></span></a>

        {% else %}
            <span class="btn disabled glyphicon glyphicon-fast-backward"></span>
            <span class="btn disabled"><span class="glyphicon glyphicon-step-backward"></span></span>
        {% endif %}


        <a class="btn" data-path="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'pageNumber': '1'}))}}" data-toggle="modal" data-target="#pageSelectorModal" data-last-page="{{ pageCount }}" data-title="Selecciona una página (Última: {{ pageCount }})">
            <span class="glyphicon glyphicon-chevron-up"> {{ current }}</span>
        </a>


        {% if next is defined %}
            <a class="btn" href="{{ path(route, query|merge({(pageParameterName): next})) }}"><span class="glyphicon glyphicon-step-forward"></span></a>
            <a class="btn" href="{{ path(route, query|merge({(pageParameterName): endPage})) }}"><span class="glyphicon glyphicon-fast-forward"></span></a>

        {% else %}
            <span class="btn disabled"><span class="glyphicon glyphicon-step-forward"></span></span>
            <span class="btn disabled glyphicon glyphicon-fast-forward"></span>
        {% endif %}
    </div>

{% endif %}


