<!-- Modal -->
<div class="modal fade" id="dialogModal" tabindex="-1" role="dialog" aria-labelledby="dialogModalTitle" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="dialogModalTitle">Título del modal</h4>
            </div>
            <div class="modal-body">
                Mensaje del modal
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                <a href="" class="btn btn-primary" role="button" data-dismiss="modal" id="dialogModalAcceptButton" data-postid="">Aceptar</a>
            </div>
        </div>
    </div>
</div>