<div id="reply-form">
    <form action="{{ path('post_new_post', {'forumSlug': forumSlug, 'topicSlug': topic.slug, 'topicId': topic.id}) }}" class="form-horizontal" role="form" method="post" {{ form_enctype(form) }} novalidate>

        {% include '@Post/Default/includes/replyFormContent.html.twig' with {'legend': 'Escribir respuesta'} %}

        <button type="submit" class="btn reply-button" name="reply">Responder</button>
    </form>
</div>